<div class="operationalSectionContainer">
    <span class="h3 mt-1 mx-1">{{ operationalSection.title }}</span>
    <div class="ml-auto mr-2">
        <app-section-leader-slot
            (vehicleAssigned)="assignVehicle($event, true)"
            [vehicle]="operationalSectionLeader$ | async"
        ></app-section-leader-slot>
    </div>
    <div
        class="operationalSectionVehicles"
        cdkDropList
        cdkDropListOrientation="mixed"
        (cdkDropListDropped)="onVehicleDropped($event)"
    >
        @for (
            vehicle of operationalSectionMembers$ | async;
            track vehicle.id
        ) {
            <app-vehicle-tag  [vehicle]="vehicle"></app-vehicle-tag>
        }
    </div>
</div>
