<div class="operationalSectionContainer h-100 d-flex border flex-column">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <input
            #inlineInput="ngModel"
            class="form-control form-control-lg"
            rows="3"
            [ngModel]="operationalSection.title"
            (ngModelChange)="updateOperationalSectionTitle($event)"
            name="inline"
            autofocus
        />
        <app-display-validation
            [ngModelInput]="inlineInput"
        ></app-display-validation>
        <button class="btn">
            <i
                class="bi bi-trash-fill text-danger"
                (click)="deleteOperationalSection()"
            >
            </i>
        </button>
    </div>
    <div class="ml-auto mr-2">
        <app-section-leader-slot
            (vehicleAssigned)="assignVehicle($event, true)"
            [vehicle]="(operationalSectionLeader$ | async) ?? null"
        ></app-section-leader-slot>
    </div>
    @let vehicles = operationalSectionMembers$ | async;
    @if (vehicles !== null) {
        <app-vehicles-zone
            [vehicles]="vehicles"
            (vehicleDropped)="onVehicleDropped($event)"
        />
    }
</div>
