@use './../vehicle-tag/vehicle-tag.component' as vehicleTag;

$border-radius: 12px;

$outerBoxPadding: 8px;
$innerBoxPadding: 12px;

$vehicleTagGap: 8px;
$borderSize: 2px;

$innerContainerWidth: 2 *
    (vehicleTag.$vehicleTagWidth + $innerBoxPadding + $borderSize) +
    $vehicleTagGap;
$containerWidth: $innerContainerWidth + (2 * $outerBoxPadding);

$innerContainerColor: #f2f2f2;

.operationalSectionContainer {
    background-color: #ffffff;
    padding: $outerBoxPadding;
    width: $containerWidth;
    height: 100%;
    display: flex;
    flex-direction: column;

    border-radius: $border-radius;

    .operationalSectionVehicles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        row-gap: $vehicleTagGap;
        column-gap: $vehicleTagGap;
        align-content: flex-start;

        margin-top: 12px;

        background-color: $innerContainerColor;

        min-height: vehicleTag.$vehicleTagHeight + (2 * $innerBoxPadding);
        padding: $innerBoxPadding;
        height: 100%;
        width: $innerContainerWidth;

        border-radius: $border-radius;

        border: $borderSize solid #aaaaaa;
    }
}
