<div class="operationalSectionContainer">
    <div class="d-flex justify-content-between align-items-center mb-2">
   <input
            #inlineInput="ngModel"
            class="form-control form-control-lg"
            rows="3"
            [ngModel]="operationalSection.title"
            (ngModelChange)="updateOperationalSectionTitle($event)"
            name="inline"
            autofocus

        />
        <app-display-validation
            [ngModelInput]="inlineInput"
        ></app-display-validation>
    <button
        class="btn"
        >
        <i
            class="bi bi-trash-fill text-danger"
            (click)="deleteOperationalSection()">
        </i>
    </button>
    </div>
    <div class="ml-auto mr-2">
        <app-section-leader-slot
            (vehicleAssigned)="assignVehicle($event, true)"
            [vehicle]="operationalSectionLeader$ | async"
        ></app-section-leader-slot>
    </div>
    <div
        class="operationalSectionVehicles"
        cdkDropList
        cdkDropListOrientation="mixed"
        (cdkDropListDropped)="onVehicleDropped($event)"
    >
        @for (
            vehicle of operationalSectionMembers$ | async;
            track vehicle.id
        ) {
            <app-vehicle-tag  [vehicle]="vehicle"></app-vehicle-tag>
        }
    </div>
</div>
