@use 'bootstrap/scss/bootstrap' as bootstrap;
@use './../_variables.scss' as vars;

.operationalSectionContainer {
    background-color: bootstrap.$white;
    padding: vars.$outerBoxPadding;
    width: vars.$containerWidth;
    height: 100%;
    display: flex;
    flex-direction: column;

    border-radius: vars.$borderRadius;

    .operationalSectionVehicles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        row-gap: vars.$vehicleTagGap;
        column-gap: vars.$vehicleTagGap;
        align-content: flex-start;

        @extend .mt-4;

        background-color: vars.$innerContainerColor;

        min-height: vars.$vehicleTagHeight + (2 * vars.$innerBoxPadding);
        padding: vars.$innerBoxPadding;
        height: 100%;
        width: vars.$innerContainerWidth;

        border-radius: vars.$borderRadius;

        border: vars.$borderSize solid #aaaaaa;
    }
}
