<div class="card">
    <h5 class="card-header">Einsatztagebuch</h5>
    <div class="card-body">
        <fieldset class="p-3 border-bottom" [disabled]="interfaceDisabled()">
            <textarea
                [(ngModel)]="newLogEntry"
                [appAutofocus]="true"
                maxlength="65535"
                placeholder="Schreiben Sie den neuen Eintrag in dieses Feld..."
                class="form-control no-validation mb-3"
            ></textarea>
            <button
                type="button"
                class="btn btn-primary w-100"
                [disabled]="newLogEntry === ''"
                (click)="addEocLogEntry()"
            >
                Eintrag speichern
            </button>
            @if (currentRole() === 'trainer') {
                <div class="form-check form-switch mt-2">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        [ngModel]="!sendingPrivateLog"
                        (ngModelChange)="sendingPrivateLog = !$event"
                    />
                    <label class="form-check-label">
                        Als öffentliche Leitstellen-Notiz speichern
                    </label>
                </div>
            }
        </fieldset>
        @if (eocLogEntries$ | async; as eocLogEntries) {
            @if (eocLogEntries.length === 0) {
                <div class="text-muted p-3">
                    Es sind noch keine Einträge vorhanden.
                </div>
            }

            @if (eocLogEntries.length > 0) {
                <ul
                    style="max-height: 50vh; overflow: auto"
                    class="list-group list-group-flush"
                >
                    @for (eocLogEntry of eocLogEntries; track eocLogEntry) {
                        @if (
                            currentRole() === 'trainer' ||
                            !eocLogEntry.isPrivate
                        ) {
                            <li
                                class="list-group-item"
                                style="border-left-width: 4px"
                                [style.border-left-color]="
                                    eocLogEntry.isPrivate
                                        ? '#0b02bf'
                                        : '#aaaaaa'
                                "
                            >
                                <div class="row">
                                    <div class="col-2">
                                        <span class="fw-bold">
                                            {{
                                                eocLogEntry.exerciseTimestamp
                                                    | formatDuration
                                            }}
                                        </span>
                                        <br />
                                        von
                                        <span class="font-monospace">
                                            {{ eocLogEntry.clientName }}
                                        </span>
                                    </div>

                                    <div
                                        class="col"
                                        style="white-space: pre-wrap"
                                        [style.color]="
                                            eocLogEntry.isPrivate
                                                ? '#0b02bf'
                                                : 'unset'
                                        "
                                    >
                                        @if (eocLogEntry.isPrivate) {
                                            <em
                                                style="
                                                    display: block;
                                                    opacity: 0.8;
                                                "
                                            >
                                                [Private Übungsnotiz]
                                            </em>
                                        }
                                        {{ eocLogEntry.message }}
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            }
        }
    </div>
</div>
