@if (checkRole(collectionData().ownRole).isAtLeast('editor')) {
    <button
        type="button"
        class="btn btn-outline-primary d-flex flex-row align-items-center ms-auto mb-3"
        (click)="openCollectionSelectionModal()"
    >
        <i class="bi bi-folder-symlink me-2"></i>
        <span>Weitere Sammlung verwenden</span>
    </button>
}
<div class="d-flex flex-column gap-3">
    @for (
        dependency of collectionData().objects.imported;
        track dependency.collection.versionId
    ) {
        <app-used-collection-item
            [dependency]="dependency"
            [currentCollectionEntityId]="collectionData().collection.entityId"
        />
    }
</div>
