@if (checkRole(collectionData().ownRole).isAtLeast('editor')) {
    <div ngbDropdown>
        <button
            type="button"
            class="btn btn-outline-primary d-flex flex-row align-items-center ms-auto"
            ngbDropdownToggle
        >
            <i class="bi bi-folder-symlink me-2"></i>
            <span>Weitere Sammlung verwenden</span>
        </button>
        <div ngbDropdownMenu>
            @for (
                availableCollection of availableCollections();
                track availableCollection.versionId
            ) {
                @if (
                    availableCollection.entityId !==
                    collectionData().collection.entityId
                ) {
                    <button
                        ngbDropdownItem
                        (click)="
                            importFromCollection(availableCollection.versionId)
                        "
                    >
                        {{ availableCollection.title }}
                    </button>
                }
            }
        </div>
    </div>
}
@for (
    dependency of collectionData().objects.transitive;
    track dependency.collection.versionId
) {
    <app-used-collection-item
        [dependency]="dependency"
        [currentCollectionEntityId]="collectionData().collection.entityId"
    />
    <hr />
}
