<div>
    @if (scoutable(); as scoutable) {
        @if (currentRole() == 'trainer') {
            <button
                class="btn btn-outline-primary ms-3"
                (click)="assignContent()"
            >
                Info-Block hinzufügen
            </button>
        }
    }
</div>
<div>
    @if (scoutable(); as scoutable) {
        @for (contentId of scoutable.userGeneratedContentIds; track contentId) {
            @if (
                scoutable.userGeneratedContentIds.find((id) => id == contentId)
            ) {
                <app-rich-text-editor
                    [contentAssignedElement]="scoutable"
                    [userGeneratedContentId]="contentId"
                />
            }
        }
    }
</div>
