<h5>Transport für SK abgeschlossen</h5>
@if (radiogram$ | async; as radiogram) {
    <span>
        In
        @if (radiogram.scope === 'singleRegion') {
            <strong> dieser Patientenablage </strong>
        }
        @if (radiogram.scope === 'transportManagement') {
            <strong>
                allen von dieser Transportorganisation verwalteten
                Patientenablagen
            </strong>
        }
        ist der Abtransport der Patienten mit Sichtungskategorie
    </span>
    <app-patient-status-badge [status]="radiogram.completedCategory" />
    <span> abgeschlossen.</span>
}
