@use './../shared/_change-indicator-colors' as ci;

.alert-change {
    background-color: ci.$change-background;
    border: 1px solid ci.$change-primary;
    button {
        &.btn-primary {
            border-color: ci.$change-primary;
            background-color: ci.$change-primary;
        }
        &.btn-outline-primary {
            border-color: ci.$change-primary;
            color: ci.$change-primary;
            &:hover {
                background-color: ci.$change-primary;
                color: #fff;
            }
        }
    }
}
