@let userData = (userData$ | async)?.user;
@if (userData) {
    <div ngbDropdown>
        <span ngbDropdownToggle style="cursor: pointer">{{
            userData.displayName
        }}</span>
        <div ngbDropdownMenu>
            <a ngbDropdownItem [href]="logoutUrl">Ausloggen</a>
        </div>
    </div>
} @else if (userData === null) {
    <div class="d-flex gap-2">
        <a class="btn btn-primary" [href]="loginUrl"> Anmelden </a>
    </div>
} @else if (userData === undefined) {
    <div><!--UserData is loading--></div>
}
