@let authData = auth.authData();
@if (authData.user) {
    <div ngbDropdown>
        <button ngbDropdownToggle class="btn">
            <i class="bi bi-person me-1"></i> {{ authData.user.displayName }}
        </button>
        <div ngbDropdownMenu>
            @if (authData?.userSelfServiceEnabled) {
                <a ngbDropdownItem [href]="userSelfServiceUrl">
                    <i class="bi bi-person-gear me-1"></i>
                    Konto verwalten
                </a>
            }
            <a ngbDropdownItem [href]="docsUrl" target="_blank">
                <i class="bi bi-question-circle me-1"></i>
                Hilfe
            </a>

            <a ngbDropdownItem [href]="logoutUrl">
                <i class="bi bi-box-arrow-right me-1"></i>
                Abmelden
            </a>
        </div>
    </div>
} @else if (authData.user === null) {
    @if (authData?.userRegistrationsEnabled) {
        <div class="d-flex gap-2">
            <div class="d-flex gap-2">
                <a
                    class="btn btn-outline-primary"
                    [href]="userRegistrationsUrl"
                >
                    Registrieren
                </a>
            </div>
            <div class="d-flex gap-2">
                <a class="btn btn-link text-decoration-none" [href]="loginUrl">
                    Anmelden
                </a>
            </div>
        </div>
    } @else {
        <div class="d-flex gap-2">
            <a class="btn btn-outline-primary" [href]="loginUrl">Anmelden</a>
        </div>
    }
} @else if (authData.user === undefined) {
    <div><!--UserData is loading--></div>
}
