<h5>Personalstatus</h5>

<p>Aktuell verfügbares Personal:</p>

@if (radiogram$ | async; as radiogram) {
    <table class="table table-sm">
        <tbody>
            @for (
                personnelTemplate of personnelTemplates$ | async | values;
                track personnelTemplate.id
            ) {
                @if (radiogram.personnelCount[personnelTemplate.id]) {
                    <tr>
                        <td>{{ personnelTemplate.name }}</td>
                        <td>
                            {{ radiogram.personnelCount[personnelTemplate.id] }}
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
