<h5>Personalstatus</h5>

<p>Aktuell verfügbares Personal:</p>

<table *ngIf="radiogram$ | async as radiogram" class="table table-sm">
    <tbody>
        <ng-container
            *ngFor="
                let personnelTemplate of personnelTemplates$ | async | values
            "
        >
            <tr *ngIf="radiogram.personnelCount[personnelTemplate.id]">
            <td>{{ personnelTemplate.name }}</td>
            <td>
                {{ radiogram.personnelCount[personnelTemplate.id] }}
            </td>
            </tr>
        </ng-container>
    </tbody>
</table>
