@if (organisation().userRole !== 'viewer') {
    <div class="d-flex align-items-center mt-2 gap-2">
        <button class="btn btn-primary" (click)="createCollection()">
            Neue Sammlung erstellen
        </button>

        <div class="flex-grow-1"></div>

        <button
            class="btn btn-outline-primary d-flex gap-1 align-items-center"
            (click)="joinCollection()"
        >
            <i class="bi bi-box-arrow-in-right me-1"></i>
            <span>Sammlung beitreten</span>
        </button>
    </div>
}
@if (collections()) {
    <div class="row row-cols-3 mt-2">
        @for (collection of collections(); track collection.versionId) {
            <div class="col mb-4">
                <app-collection-card
                    [collection]="collection"
                    fromLocation="org-{{ organisation().id }}"
                    [showLeaveButton]="organisation().userRole === 'admin'"
                    (leave)="leaveCollection(collection)"
                />
            </div>
        } @empty {
            <div class="col flex-grow-1">
                <p class="bg-light p-4 rounded-3 lead mb-0">
                    Es gibt noch keine Übungsvorlagen.
                </p>
            </div>
        }
    </div>
} @else {
    <div class="row row-cols-3 mt-2">
        @for (_ of [1, 2, 3]; track $index) {
            <div class="col">
                <div class="card" aria-hidden="true">
                    <div class="card-body">
                        <h2 class="card-title h4 placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h2>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                        </p>
                        <a
                            class="btn btn-primary disabled placeholder col-6"
                            aria-disabled="true"
                        ></a>
                    </div>
                </div>
            </div>
        }
    </div>
}
