@if (messageService.messages$ | async; as messages) {
    <div
        class="position-absolute p-2"
        style="top: 0; right: 0; width: max-content; z-index: 10000"
    >
        <!-- Show the 5 oldest toasts, the newest should appear at the bottom -->
        @for (message of messages | slice: 0 : 5; track message.id) {
            <div
                (mouseenter)="message.destroyTimer?.pause()"
                (mouseleave)="message.destroyTimer?.start()"
                (click)="message.increaseDestroyTimeout(null)"
                class="toast show position-relative mb-3"
                style="min-width: 200px"
                @fade
            >
                @if (message.destroyTimer) {
                    <app-custom-timer-progress-bar
                        [timer]="message.destroyTimer"
                        [color]="message.config.color"
                    ></app-custom-timer-progress-bar>
                }
                <div class="toast-header">
                    <strong [class]="'me-auto text-' + message.config.color">
                        <!-- TODO: Display an icon according to the color -->
                        {{ message.config.title }}
                    </strong>
                    @if (message.amount > 1) {
                        <span class="ms-2 badge bg-secondary">{{
                            message.amount
                        }}</span>
                    }
                    <button
                        type="button"
                        class="ms-2 mb-1 btn-close"
                        (click)="message.destroy()"
                    ></button>
                </div>
                @if (message.config.body) {
                    <div class="toast-body">
                        <app-message-body
                            [message]="message"
                        ></app-message-body>
                    </div>
                }
            </div>
        }
    </div>
}
