@if (messageService.messages(); as messages) {
    <div
        class="position-fixed p-2"
        style="top: 0; right: 0; width: max-content; z-index: 10000"
    >
        <!-- Show the 5 oldest toasts, the newest should appear at the bottom -->
        @for (message of messages | slice: 0 : 5; track message.id) {
            <div
                (mouseenter)="message.paused.set(true)"
                (mouseleave)="message.paused.set(false)"
                (click)="message.timeout.set(null)"
                class="toast show position-relative mb-3"
                style="min-width: 200px"
                animate.enter="enter-animation"
            >
                @if (message.timeout(); as timeout) {
                    <app-custom-timer-progress-bar
                        [timeout]="timeout"
                        [paused]="message.paused()"
                        [color]="message.config.color"
                        (destroyed)="message.destroy()"
                    ></app-custom-timer-progress-bar>
                }
                <div class="toast-header">
                    <strong [class]="'me-auto text-' + message.config.color">
                        <!-- TODO: Display an icon according to the color -->
                        {{ message.config.title }}
                    </strong>
                    <button
                        type="button"
                        class="ms-2 mb-1 btn-close"
                        (click)="message.destroy()"
                    ></button>
                </div>
                @if (message.config.body) {
                    <div class="toast-body">
                        <app-message-body
                            [message]="message"
                        ></app-message-body>
                    </div>
                }
            </div>
        }
    </div>
}
