@use './../_variables.scss' as vars;

.onLocationVehiclesSection {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.onLocationVehiclesSection > .label {
    writing-mode: sideways-lr;
    background-color: #e0e0e0;
    padding: 12px 4px;
    text-align: center;
}

.onLocationVehiclesContainer {
    height: (2 * vars.$vehicleTagHeight) + vars.$vehicleTagGap + (2 * vars.$innerBoxPadding);
    padding: vars.$innerBoxPadding;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-content: flex-start;
    gap: vars.$vehicleTagGap;
}
