<h3>Übersicht</h3>

@if (((regions$ | async)?.length ?? 0) === 0) {
    <p class="text-muted">
        Aktuell gibt es noch keine simulierten Bereiche in dieser Übung. Bitte
        warten Sie, bis die Übungsleitung die Übung fertig konfiguriert hat.
    </p>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name des Bereichs</th>
            <th scope="col">Führungskraft</th>
            <th scope="col">Führungsfahrzeug</th>
        </tr>
    </thead>
    <tbody>
        @for (region of regions$ | async; track region.id) {
            <tr>
                <td>{{ region.name }}</td>
                @if (region.hasLeader) {
                    <td>{{ region.leaderName }}</td>
                    <td>{{ region.leaderVehicleName }}</td>
                } @else {
                    <td colspan="2">
                        <em class="text-muted"
                            >Keine Führungskraft in diesem Bereich</em
                        >
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
