<td>
    @if (exerciseInstance().isActive) {
        <span class="badge bg-primary">aktiv</span>
    }
</td>
<td>
    <code class="me-2">{{ exerciseInstance().participantKey }}</code>
    <button
        app-copy-button
        class="btn btn-light btn-sm"
        [value]="participantUrl()"
    ></button>
</td>
<td>{{ exerciseInstance().clientNames.join(', ') }}</td>
<td>
    @if (exerciseInstance().lastLogEntry; as lastLogEntry) {
        <app-log-entry [logEntry]="lastLogEntry" />
    }
</td>
<td>
    <a
        [routerLink]="`/exercises/${exerciseInstance().trainerKey}`"
        class="btn btn-sm btn-outline-primary float-end"
    >
        Öffnen
    </a>
</td>
