@if (exerciseInstance(); as exerciseInstance) {
    <td>
        <code class="me-2">{{ exerciseInstance.participantKey }}</code>
        <app-copy-button [value]="participantUrl()" />
    </td>
    <td>{{ exerciseInstance.clientNames.join(', ') }}</td>
    <td>
        @if (exerciseInstance.lastLogEntry) {
            <app-log-entry [logEntry]="exerciseInstance.lastLogEntry" />
        }
    </td>
    <td>
        <a
            [routerLink]="`/exercises/${exerciseInstance.trainerKey}`"
            class="btn btn-sm btn-outline-primary float-end"
        >
            Öffnen
        </a>
    </td>
}
