<app-header />
<main class="container">
    <h1>
        Meine Übungen
        <button class="btn btn-primary float-end" (click)="createExercise()">
            Neue Übung erstellen
        </button>
    </h1>
    @if (exercises.isLoading()) {
        <div class="row row-cols-3">
            @for (_ of [1, 2, 3]; track $index) {
                <div class="col">
                    <div class="card" aria-hidden="true">
                        <div class="card-body">
                            <h2 class="card-title h4 placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </h2>
                            <p class="card-text placeholder-glow">
                                <span class="placeholder col-4"></span>
                                <span class="placeholder col-4"></span>
                            </p>
                            <a
                                class="btn btn-primary disabled placeholder col-6"
                                aria-disabled="true"
                            ></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    @if (exercises.hasValue()) {
        <div class="row row-cols-3">
            @for (exercise of exercises.value(); track exercise.trainerKey) {
                <div class="col mb-4">
                    <app-exercise-card
                        [exercise]="exercise"
                        (updated)="exercises.reload()"
                    />
                </div>
            } @empty {
                <div class="col flex-grow-1">
                    <p class="bg-light p-4 rounded-3 lead mb-0">
                        Sie haben noch keine Übungen erstellt.
                    </p>
                </div>
            }
        </div>
    }
</main>
<app-footer />
