<app-header />
<main class="container">
    <h1>{{ pageTitle() }}</h1>

    <p>
        <a (click)="back($event)" href="#">Zurück zur vorherigen Seite</a>
    </p>

    @if (content$ | async) {
        <div [innerHTML]="content$ | async"></div>
    } @else {
        <p>
            Sie können den Inhalt der Seite unter
            <code>frontend/src/assets/about/{{ contentFile() }}</code>
            bearbeiten.
        </p>
        <p>
            Falls Sie das Docker-Deployment verwenden, finden Sie in der
            <code>docker-compose.yml</code> Beispiel-Datei eine Anleitung, wie
            Sie Inhalte für diese Seite bereitstellen können.
        </p>
    }
</main>
<app-footer />
