<div
    class="bg-white p-3 border border-secondary-subtle d-flex flex-column h-100"
>
    <span class="h5 fw-bold">Einsatzmittel</span>
    <span class="bg-body-secondary px-2 py-1 rounded-top-1 mt-2 fw-bold">
        Vor Ort
    </span>
    <div class="overflow-y-scroll">
        @for (
            vehicleAtLocation of vehiclesOnLocation$ | async;
            track vehicleAtLocation.id
        ) {
            <app-operations-vehicle-item
                [vehicle]="vehicleAtLocation"
                [showTransfer]="false"
            ></app-operations-vehicle-item>
        }
    </div>
    <span class="bg-body-secondary px-2 py-1 rounded-top-1 mt-4 border fw-bold">
        Alarmiert
    </span>
    <div class="overflow-y-scroll">
        @for (
            vehicleInTransfer of vehiclesInTransfer$ | async;
            track vehicleInTransfer.id
        ) {
            <app-operations-vehicle-item
                [vehicle]="vehicleInTransfer"
            ></app-operations-vehicle-item>
        }
    </div>
</div>
