<div class="btn-group d-flex mb-1">
    <button
        (click)="unloadVehicle()"
        [disabled]="!vehicleLoadState().unloadable"
        class="btn btn-outline-primary"
        data-cy="vehiclePopupUnloadButton"
    >
        <i class="bi-box-arrow-left me-1"></i>
        Alle aussteigen
    </button>
    @if (currentRole() === 'trainer' || participantLoadAllEnabled()) {
        <button
            (click)="loadVehicle()"
            [disabled]="!vehicleLoadState().loadable"
            class="btn btn-outline-primary"
        >
            <i class="bi-box-arrow-in-right me-1"></i>
            Alle einsteigen
        </button>
    }
</div>

<p class="small">
    Personal, das sich gerade im Transfer befindet, kann nicht einsteigen.
</p>
