<div class="btn-group d-flex mb-1">
    <button
        (click)="unloadVehicle()"
        [disabled]="!(vehicleLoadState$ | async)?.unloadable"
        class="btn btn-outline-primary"
        data-cy="vehiclePopupUnloadButton"
    >
        <i class="bi-box-arrow-left me-1"></i>
        Alle aussteigen
    </button>
    @if ((currentRole$ | async) === 'trainer') {
        <button
            (click)="loadVehicle()"
            [disabled]="!(vehicleLoadState$ | async)?.loadable"
            class="btn btn-outline-primary"
        >
            <i class="bi-box-arrow-in-right me-1"></i>
            Alle einsteigen
        </button>
    }
</div>

<p class="small">
    Personal, das sich gerade im Transfer befindet, kann nicht einsteigen.
</p>
