<nav class="navbar bg-body-tertiary mb-4">
    <div class="container container-fluid">
        <a routerLink="/" class="navbar-brand">FüSim Digital</a>
        <ul
            ngbNav
            [activeId]="route.url | async"
            class="navbar-nav d-flex flex-row"
        >
            @if (auth.authData().user) {
                <li ngbNavItem="start" class="nav-item mx-2">
                    <a ngbNavLink class="nav-link" routerLink="/">Start</a>
                </li>
                <li ngbNavItem="exercises" class="nav-item mx-2">
                    <div ngbDropdown class="openonhover">
                        <a
                            ngbDropdownToggle
                            class="nav-link"
                            routerLink="/exercises/"
                        >
                            Übungen
                        </a>
                        <div ngbDropdownMenu>
                            <a ngbDropdownItem routerLink="/exercises">
                                Einzelübungen
                            </a>

                            @if (exerciseConfig()?.parallelExercisesEnabled) {
                                <a
                                    ngbDropdownItem
                                    routerLink="/exercises/parallel"
                                >
                                    Parallelübungen
                                </a>
                            }
                        </div>
                    </div>
                </li>
                <li ngbNavItem="templates" class="nav-item mx-2">
                    <div ngbDropdown class="openonhover">
                        <a ngbDropdownToggle ngbNavLink class="nav-link">
                            Vorlagen
                        </a>
                        <div ngbDropdownMenu>
                            <a
                                ngbDropdownItem
                                routerLink="/exercises/templates"
                            >
                                Übungsvorlagen
                            </a>

                            <a ngbDropdownItem routerLink="/collections">
                                Übungselemente
                            </a>
                        </div>
                    </div>
                </li>
                <li ngbNavItem="organisations" class="nav-item mx-2">
                    <a ngbNavLink routerLink="/organisations">
                        Organisationen
                    </a>
                </li>
            }
        </ul>

        <app-user-account-navbar-item></app-user-account-navbar-item>
    </div>
</nav>
