<div class="w-100 d-flex flex-row justify-content-end mb-3 gap-2">
    @if (checkRole(collectionData().ownRole).isAtLeast('editor')) {
        <label
            class="btn btn-outline-secondary btn"
            [class.disabled]="importingElements()"
        >
            <i class="bi-cloud-upload"> </i>
            @if (importingElements()) {
                <span class="ms-2 spinner-border spinner-border-sm"></span>
            }

            Vorlagen importieren
            <input
                (appFileInput)="importElementFile($event)"
                type="file"
                accept="application/json"
                class="d-none"
                [disabled]="importingElements()"
            />
        </label>
    }
</div>
<app-collection-elements-list
    [collection]="collectionData().collection"
    [collectionElements]="collectionData().objects"
    [publishedElements]="collectionData().publishedElements.direct"
    [editable]="checkRole(collectionData().ownRole).isAtLeast('editor')"
    [allowCreation]="true"
/>
