# Ports (only change them, if you know what you do)
# The port for the websocket listener
DFM_WEBSOCKET_PORT=3200
# The port of the HTTP Server
DFM_HTTP_PORT=3201
# The public URL where the HTTP server can be reached, e.g. used for generating links and redirects
# e.g. http://localhost:3201
DFM_HTTP_BACKEND_URL=http://localhost:3201

# The public URL where the Angular frontend can be reached, e.g. used for generating links, redirects and CORS
# e.g. http://localhost:4200
DFM_HTTP_FRONTEND_URL=http://localhost:4200

# set the upload limit for nginx and for the backend
DFM_UPLOAD_LIMIT=200m

# enable extra debugging output
#DFM_DEBUG=false


# Postgres

DFM_USE_DB=true
DFM_DB_USER=fuesim-digital
# Choose something secure here
#DFM_DB_PASSWORD=
DFM_DB_NAME=fuesim-digital
DFM_DB_HOST=db
DFM_DB_PORT=5432
# Whether or not to log database queries to stdout
DFM_DB_LOG=false


# OIDC

DFM_AUTH_URL=http://127.0.0.1:9091
DFM_AUTH_CLIENT_ID=dfm-backend
DFM_AUTH_CLIENT_SECRET=ZMuRxjZ0AbSvKAtvWH85kOf1db2OmLoXzFw4UsZC~TcewXaiMExdGPVXv9qP4eNj3GG55Tky
# this is an example for keycloak
# DFM_AUTH_SELF_SERVICE_URL=http://127.0.0.1:8080/realms/master/account/#/personal-info
# can be 'keycloak' or left empty for no registration
# DFM_AUTH_USER_REGISTRATION_ADAPTER=keycloak

# Feature Flags

DFM_PARALLEL_EXERCISES_ENABLED=true
