.scroll-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.scroll-btn {
    position: absolute;
    z-index: 10;

    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.scroll-btn.left,
.scroll-btn.right {
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 3rem;
}

.scroll-btn.top,
.scroll-btn.bottom {
    left: 50%;
    transform: translateX(-50%);
    width: 3rem;
    height: 2rem;
}

.scroll-btn.left {
    left: 0.5rem;
}

.scroll-btn.right {
    right: 0.5rem;
}

.scroll-btn.top {
    top: 0.5rem;
}

.scroll-btn.bottom {
    bottom: 0.5rem;
}
