<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Konfliktlösung</h4>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="close()"
    ></button>
</div>
<div class="modal-body">
    <div class="row mt-2">
        <div class="col-sm-6">
            <div class="card h-100">
                <div class="card-header">Kopie erstellen</div>
                <div
                    class="card-body d-flex flex-column justify-content-between"
                >
                    <span>
                        Diese Aktion erstellt eine neue Kopie des Element in der
                        Sammlung und speichert Ihre Änderungen in dieser Kopie.
                        Das Originalelement bleibt unverändert.
                    </span>
                    <div class="d-flex justify-content-end">
                        <button
                            class="btn btn-primary"
                            (click)="resolveConflict('createCopy')"
                        >
                            Kopie erstellen
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card h-100">
                <div class="card-header">Änderungen kaskadieren</div>
                <div
                    class="card-body d-flex flex-column justify-content-between"
                >
                    <div>
                        <span>
                            Diese Aktion speichert Ihre Änderungen im
                            Originalelement und aktualisiert dieses Element in
                            allen anderen Elementen, welche dieses Element
                            verwenden.
                        </span>
                        <div class="alert alert-warning mt-2">
                            Diese Aktion verändert auch andere Elemente und kann
                            somit unvorgesehene Konsequenzen haben.<br />
                            Änderungen können nicht rückgängig gemacht werden.
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button
                            class="btn btn-primary"
                            (click)="resolveConflict('cascadeChanges')"
                        >
                            Änderungen übernehmen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-outline-danger" (click)="close()">
        Abbrechen
    </button>
</div>
