@if (patient$ | async; as patient) {
    <div
        [ngClass]="{ 'border border-4 rounded': patient.hasTransportPriority }"
        style="border-color: red !important"
    >
        <h5 class="popover-header d-flex align-items-center gap-1">
            <app-patient-header [patientId]="patientId" />
            <div class="flex-grow-1"></div>
            <button
                (click)="closePopup()"
                type="button"
                class="btn-close float-end"
            ></button>
        </h5>
        <div class="popover-body p-0" style="max-width: 420px">
            <app-patients-details
                [patientId]="patientId"
                [openScoutInfo]="openScoutInfo"
            />
        </div>
    </div>
}
