@if (patient$ | async; as patient) {
    <div
        [ngClass]="{ 'border border-4 rounded': patient.hasTransportPriority }"
        style="border-color: red !important"
    >
        <h5 class="popover-header d-flex align-items-center gap-1">
            <app-patient-identifier [patientId]="patientId" />
            <span>{{ ' ' }}</span>
            <app-patient-health-point-display [patientId]="patientId" />
            @if (patient.hasTransportPriority) {
                <div class="badge" style="background-color: red">TP</div>
            }
            <div class="flex-grow-1"></div>
            <button
                (click)="closePopup()"
                type="button"
                class="btn-close float-end"
            ></button>
        </h5>
        <div class="popover-body p-0" style="max-width: 350px">
            <app-patients-details [patientId]="patientId" />
        </div>
    </div>
}
