<div
    class="dropdown-menu"
    style="
        position: static;
        display: block;
        max-height: 200px;
        overflow-y: auto;
    "
>
    @for (
        reachableTransferPoint of reachableTransferPoints$ | async;
        track reachableTransferPoint.id
    ) {
        <button
            (click)="transferTo(reachableTransferPoint.id, 'transferPoint')"
            type="button"
            class="dropdown-item"
            data-cy="chooseTransferTargetPopupOtherTransferPointDropdown"
        >
            <app-transfer-point-name
                [transferPointId]="reachableTransferPoint.id"
            ></app-transfer-point-name>
        </button>
    }
    @if (droppedElementType === 'vehicle') {
        @if (
            (reachableTransferPoints$ | async)?.length &&
            (reachableHospitals$ | async)?.length
        ) {
            <div class="dropdown-divider"></div>
        }
        @for (
            reachableHospital of reachableHospitals$ | async;
            track reachableHospital.id
        ) {
            <button
                (click)="transferTo(reachableHospital.id, 'hospital')"
                type="button"
                class="dropdown-item"
                data-cy="chooseTransferTargetPopupHospitalDropdown"
            >
                <app-hospital-name
                    [hospitalId]="reachableHospital.id"
                ></app-hospital-name>
            </button>
        }
    }
    @if (
        (reachableTransferPoints$ | async)?.length === 0 &&
        (reachableHospitals$ | async)?.length === 0
    ) {
        <div class="text-muted p-1 fst-italic">Keine Aktion möglich.</div>
    }
</div>
