<h5>Transferverbindungen</h5>

@if (connectedRegions$ | async; as connectedRegions) {
    Dieser Bereich hat Transferverbindungen zu

    @if (connectedRegions.length > 0) {
        <ul>
            @for (connectedRegion of connectedRegions; track connectedRegion) {
                <li>
                    {{ connectedRegion.name }}
                    <span class="text-muted">
                        (Dauer: {{ connectedRegion.duration | formatDuration }})
                    </span>
                </li>
            }
        </ul>
    } @else {
        keinem anderen Bereich.
    }
}
