<h5 class="card-title">Meldung über Fahrzeuganzahlen</h5>

@if (((totalVehicleCount$ | async) ?? 0) > 0) {
    <p class="card-text">
        Derzeit befinden sich hier
        {{ totalVehicleCount$ | async }} Fahrzeuge, die unter die folgenden
        Kategorien fallen:
    </p>

    <table class="table card-text">
        <thead>
            <tr>
                <th class="w-75">Kategorie</th>
                <th class="w-25">Anzahl</th>
            </tr>
        </thead>
        <tbody>
            @for (
                vehicleCount of (radiogram$ | async)!.vehicleCount | keyvalue;
                track vehicleCount
            ) {
                <tr>
                    <td>{{ vehicleCount.key }}</td>
                    <td>{{ vehicleCount.value }}</td>
                </tr>
            }
        </tbody>
    </table>
} @else {
    <p class="card-text">Derzeit befinden sich hier keine Fahrzeuge.</p>
}
