<div style="width: 100%" class="vis-wrapper">
    <div class="mb-4">
        @for (
            participantKey of cluster().participantKeys;
            track participantKey
        ) {
            <span
                class="badge me-1"
                [style.background-color]="
                    colorByParticipantKey()[participantKey]
                "
            >
                {{ participantKey }}
            </span>
        }
    </div>
    <h3 class="h6">Zeitlicher Verlauf</h3>
    <div [style.height]="`${timeVisHeight()}px`">
        <vjs-surface
            [data]="dataTime()"
            [renderOptions]="renderOptionsTime()"
            [viewOptions]="viewOptionsTime"
        >
        </vjs-surface>
    </div>
    <h3 class="h6">Logischer Verlauf</h3>
    <div [style.height]="`500px`">
        <vjs-surface
            [data]="dataLogical()"
            [renderOptions]="renderOptionsLogical()"
            [viewOptions]="viewOptionsLogical"
        >
        </vjs-surface>
    </div>
</div>
