<h5 class="card-title">Meldung über Fahrzeugnutzung</h5>

@if (((radiogram$ | async)!.occupations | keys).length > 0) {
    <p class="card-text">
        Die Fahrzeuge in diesem Bereich werden wie folgt genutzt:
    </p>

    <table class="table card-text">
        <thead>
            <tr>
                <th class="w-75">Nutzungsart</th>
                <th class="w-25">Anzahl</th>
            </tr>
        </thead>
        <tbody>
            @for (
                occupation of (radiogram$ | async)!.occupations | keyvalue;
                track occupation
            ) {
                <tr>
                    <td>
                        {{ $any(occupation.key) | occupationShortName }}
                    </td>
                    <td>{{ occupation.value }}</td>
                </tr>
            }
        </tbody>
    </table>
} @else {
    <p class="card-text">Derzeit befinden sich hier keine Fahrzeuge.</p>
}
