<div class="w-100 d-flex flex-row justify-content-end mb-3 gap-2">
    @if (checkRole(collectionData().ownRole).isAtLeast('editor')) {
        <label
            class="btn btn-outline-secondary btn"
            [class.disabled]="importingElements()"
        >
            <i class="bi-cloud-upload"> </i>
            @if (importingElements()) {
                <span class="ms-2 spinner-border spinner-border-sm"></span>
            }
            <input
                (appFileInput)="importElementFile($event)"
                type="file"
                accept="application/json"
                class="d-none"
                [disabled]="importingElements()"
            />
        </label>
        <div ngbDropdown>
            <button
                type="button"
                class="btn btn-outline-primary"
                ngbDropdownToggle
            >
                Neues Übungselement
            </button>
            <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="createNewVehicle()">
                    Fahrzeug
                </button>
                <button ngbDropdownItem (click)="createNewAlarmgroup()">
                    Alarmgruppe
                </button>
                <button ngbDropdownItem>Kartenbild</button>
            </div>
        </div>
    }
</div>
@for (type of visibleElementTypesOrder; track type) {
    @let elementsOfType = elementsGroupedByType()[type] ?? [];
    @if (elementsOfType.length > 0) {
        <h4>
            {{ (type | versionedElementDisplayName).plural }}
        </h4>
        <div class="container mb-3">
            <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-2">
                @for (
                    exerciseObject of elementsOfType;
                    track exerciseObject.versionId
                ) {
                    <app-element-card
                        [element]="exerciseObject"
                        [availableElements]="availableElements()"
                        [collection]="collectionData().collection"
                    />
                }
            </div>
        </div>
    }
}
