<div class="modal-header">
    <h4 class="modal-title">
        {{ modalTitle() }}
        <app-help-button
            url="2_exercises/3_exercise_elements.html#technische-herausforderungen"
            [trainerOnly]="true"
        />
    </h4>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
    <app-edit-state-machine-form
        [initialStateMachine]="stateMachine()"
        (updatedStateMachine)="updateStateMachine($event)"
        [isPrimaryStateMachine]="isPrimaryStateMachine()"
        [taskNameMap]="taskNameMap()"
    ></app-edit-state-machine-form>
</div>
