.accordion-button {
    font-size: 1.25rem !important;
    padding: 0.6rem !important;
}

.accordion-body {
    padding: 0.5rem !important;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: start;
    align-items: start;
}

.alarmgroup-drop-placeholder {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    border: dotted 3px #999;
    opacity: 1 !important;
}

.alarmgroup-drop-placeholder.cdk-drag-placeholder {
    opacity: 1 !important;
}
