<div class="d-flex pt-2 gap-3">
    <button
        (click)="openExerciseSettings()"
        class="btn btn-outline-primary"
        data-cy="trainerToolbarSettingsButton"
    >
        <i class="bi bi-gear-fill"></i>
        Einstellungen
    </button>

    @if (isExerciseTemplate()) {
        <div ngbDropdown placement="top-start" [style.display]="'contents'">
            <button
                type="button"
                class="btn btn-outline-primary"
                ngbDropdownToggle
            >
                Alarmierungsgruppen
            </button>
            <div ngbDropdownMenu>
                <button
                    ngbDropdownItem
                    (click)="openAlarmGroupOverview()"
                    class="btn btn-outline-primary"
                    data-cy="trainerToolbarAlarmGroupsButton"
                >
                    Erstellen
                </button>
                <button
                    ngbDropdownItem
                    (click)="openEmergencyOperationsCenter()"
                    class="btn btn-primary"
                    data-cy="trainerToolbarControlCenterButton"
                >
                    Leitstelle
                </button>
                <button
                    ngbDropdownItem
                    (click)="openTransferOverview()"
                    class="btn btn-primary"
                    data-cy="trainerToolbarTransferButton"
                >
                    Transferübersicht
                </button>
            </div>
        </div>
        <button
            (click)="openHospitalEditor()"
            class="btn btn-outline-primary"
            data-cy="trainerToolbarHospitalsButton"
        >
            Krankenhäuser
        </button>
        <button
            (click)="openOperationsTabletModal()"
            class="btn btn-outline-primary"
            data-cy="trainerToolbarOperationsTabletButton"
        >
            Einsatzübersicht
        </button>
        <button
            (click)="openMeasuresOverview()"
            class="btn btn-outline-primary ms-3"
            data-cy="trainerToolbarMeasuresButton"
        >
            Maßnahmen
        </button>
    } @else {
        <div ngbDropdown placement="top-start" class="d-inline-block">
            <button
                type="button"
                class="btn btn-outline-primary"
                ngbDropdownToggle
                data-cy="trainerToolbarCreationButton"
            >
                Erstellung
            </button>
            <div ngbDropdownMenu>
                <button
                    ngbDropdownItem
                    (click)="openAlarmGroupOverview()"
                    class="btn btn-primary"
                    data-cy="trainerToolbarAlarmGroupsButton"
                >
                    Alarmierungsgruppen
                </button>
                <button
                    ngbDropdownItem
                    (click)="openHospitalEditor()"
                    class="btn btn-primary"
                    data-cy="trainerToolbarHospitalsButton"
                >
                    Krankenhäuser
                </button>
                <button
                    ngbDropdownItem
                    (click)="openMeasuresOverview()"
                    class="btn btn-primary"
                    data-cy="trainerToolbarMeasuresButton"
                >
                    Maßnahmen
                </button>
            </div>
        </div>

        <div ngbDropdown placement="top-start" class="d-inline-block">
            <button
                type="button"
                class="btn btn-outline-primary"
                ngbDropdownToggle
                data-cy="trainerToolbarExecutionButton"
            >
                Durchführung
            </button>
            <div ngbDropdownMenu>
                <button
                    ngbDropdownItem
                    (click)="openClientsModal()"
                    class="btn btn-primary"
                    data-cy="trainerToolbarParticipantsButton"
                >
                    Teilnehmende
                </button>
                <button
                    ngbDropdownItem
                    (click)="openTransferOverview()"
                    class="btn btn-primary"
                    data-cy="trainerToolbarTransferButton"
                >
                    Transferübersicht
                </button>
                <button
                    ngbDropdownItem
                    (click)="openEmergencyOperationsCenter()"
                    class="btn btn-primary"
                    data-cy="trainerToolbarControlCenterButton"
                >
                    Leitstelle
                </button>
                <button
                    ngbDropdownItem
                    (click)="openOperationsTabletModal()"
                    class="btn btn-primary"
                    data-cy="trainerToolbarOperationsTabletButton"
                >
                    Einsatzübersicht
                </button>
                <button
                    ngbDropdownItem
                    (click)="openSimulationTrainerModal()"
                    class="btn btn-primary"
                >
                    Simulationseinstellungen (Übungsleitung)
                </button>
                <button
                    ngbDropdownItem
                    (click)="openSimulationSignallerModal()"
                    class="btn btn-primary"
                >
                    Simulationsübersicht (Funker)
                </button>
            </div>
        </div>

        <div ngbDropdown placement="top-start" class="d-inline-block">
            <button
                type="button"
                class="btn btn-outline-primary"
                ngbDropdownToggle
                data-cy="trainerToolbarEvaluationButton"
            >
                Auswertung
            </button>
            <div ngbDropdownMenu>
                <button
                    ngbDropdownItem
                    (click)="openExerciseStatisticsModal()"
                    class="btn btn-primary"
                    data-cy="trainerToolbarStatisticsButton"
                >
                    Statistiken
                </button>
                <button
                    ngbDropdownItem
                    (click)="applicationService.startTimeTravel()"
                    class="btn btn-primary"
                    data-cy="trainerToolbarRecordingButton"
                >
                    Aufzeichnung
                </button>
            </div>
        </div>
    }

    <app-start-pause-button />

    <div class="flex-grow-1"></div>

    <button (click)="deleteExercise()" class="btn btn-danger">
        {{ exerciseTypeName() }} löschen
    </button>
</div>
