@if (exercise(); as exercise) {
    <div class="card">
        <div class="card-body">
            <h2 class="card-title h4 d-flex">
                #{{ exercise.participantKey }}
                <button
                    app-copy-button
                    class="btn btn-light btn-sm"
                    [value]="participantUrl()"
                ></button>
            </h2>
            <p class="card-text">
                Übungsleitungs-PIN: {{ exercise.trainerKey }}
                <button
                    app-copy-button
                    class="btn btn-light btn-sm"
                    [value]="trainerUrl()"
                ></button>
            </p>
        </div>
        <ul class="list-group list-group-flush">
            @if (exercise.baseTemplate) {
                <li class="list-group-item">
                    <i class="bi bi-rocket me-2"></i>
                    basiert auf
                    <a [routerLink]="`/exercises/templates/`">{{
                        exercise.baseTemplate.name
                    }}</a>
                </li>
            }
            <li class="list-group-item">
                <i class="bi bi-plus-circle me-2"></i>
                erstellt am {{ exercise.createdAt | date: 'medium' }}
            </li>
            <li class="list-group-item">
                <i class="bi bi-clock me-2"></i>
                zuletzt benutzt am {{ exercise.lastUsedAt | date: 'medium' }}
            </li>
        </ul>
        <div class="card-body d-flex">
            <a
                [routerLink]="`/exercises/${exercise.trainerKey}`"
                class="btn btn-primary me-2"
            >
                Öffnen
            </a>
            <div class="flex-grow-1"></div>
            <button class="btn btn-outline-danger" (click)="deleteExercise()">
                <i class="bi bi-trash me-2"></i>
                Löschen
            </button>
        </div>
    </div>
}
