<div class="d-flex flex-column gap-3">
    <div>
        <label class="form-label">Name</label>
        <input
            type="text"
            class="form-control"
            [formField]="stateMachineForm.name"
        />
    </div>

    <div>
        <h5>Zustände</h5>
        <div class="d-flex overflow-scroll gap-2">
            <div ngbAccordion class="w-100">
                @for (state of stateMachineForm.states; track $index) {
                    <div ngbAccordionItem>
                        <h5 ngbAccordionHeader>
                            <button ngbAccordionButton>
                                {{ state.title().value() }}
                            </button>
                        </h5>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <div class="row">
                                        @if (showStateImage()) {
                                            <div class="col-4">
                                                <h6>Kartendarstellung</h6>
                                                @let image =
                                                    state.image?.()?.value();
                                                url = {{ image?.url }}
                                                <div
                                                    class="d-flex justify-content-center mb-2"
                                                >
                                                    @if (image) {
                                                        <img
                                                            [ngSrc]="image.url"
                                                            height="100"
                                                            [width]="
                                                                100 *
                                                                image.aspectRatio
                                                            "
                                                            style="width: auto"
                                                            alt=""
                                                        />
                                                    } @else {
                                                        <span
                                                            >Kein Bild
                                                            hinterlegt.</span
                                                        >
                                                    }
                                                </div>
                                            </div>
                                        }

                                        <div class="col">
                                            <h6>Erkundungstext</h6>
                                            <app-user-generated-content-editor
                                                [(userGeneratedContent)]="
                                                    state.userGeneratedContent()
                                                        .value
                                                "
                                                (userGeneratedContentChange)="
                                                    state().markAsDirty()
                                                "
                                            ></app-user-generated-content-editor>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div>
        <h5>Zeiten</h5>
        <div class="card-group">
            <div class="card">
                <div class="card-header bg-success-subtle">
                    <h6 class="card-title mb-0">Aufgaben</h6>
                </div>
                <ul class="list-group list-group-flush">
                    @for (task of stateMachineForm.tasks; track $index) {
                        <li class="list-group-item d-flex align-items-baseline">
                            <span class="flex-grow-1">{{
                                nameOfTask(task.taskTypeId().value())
                            }}</span>
                            <app-time-input
                                class="flex-grow-0"
                                title="Benötigte Dauer"
                                [formField]="task.totalDuration"
                                [unit]="timeUnit"
                            ></app-time-input>
                        </li>
                    } @empty {
                        <li class="list-group-item text-muted">
                            Keine Aufgaben
                        </li>
                    }
                </ul>
            </div>
            <div class="card">
                <div class="card-header bg-danger-subtle">
                    <h6 class="card-title mb-0">Timer</h6>
                </div>
                <ul class="list-group list-group-flush">
                    @for (timer of stateMachineForm.timers; track $index) {
                        <li class="list-group-item d-flex align-items-baseline">
                            <span class="flex-grow-1">{{
                                timer.name().value()
                            }}</span>
                            <app-time-input
                                class="flex-grow-0"
                                title="Benötigte Dauer"
                                [formField]="timer.totalDuration"
                                [unit]="timeUnit"
                            ></app-time-input>
                        </li>
                    } @empty {
                        <li class="list-group-item text-muted">Keine Timer</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
