@if (this.enableCriterionCreation()) {
    <div>
        <button class="btn btn-primary" (click)="this.creatingcriterion = true">
            Auswertungskriterium Erstellen
        </button>
    </div>
    @if (creatingcriterion) {
        <app-eval-criterion-editor />
    }
}
<div
    class="card col-3 p-0 rounded-2 ms-3 mt-3"
    [style.width.px]="this.tableWidth()"
>
    <div class="card-header text-center">
        <h5 class="mb-0 d-flex align-items-center">
            Erfüllte Auswertungskriterien:
            {{
                '(' +
                    this.completedCriteriaCount() +
                    '/' +
                    this.results().length +
                    ')'
            }}
        </h5>
    </div>
    @if (this.results().length === 0) {
        <p class="ms-3">
            Es sind aktuell keine Auswertungskriterien festgelegt.
        </p>
    } @else {
        <!-- TODO @JohannesPotzi @Jogius : integrate the creation form into the list. -->
        <app-didactic-overview-results-table
            [rootResults]="this.rootResults()"
        />
    }
</div>
