@if (this.enableCriterionCreation()) {
    <div>
        <div ngbDropdown class="d-inline-block">
            <button
                type="button"
                ngbDropdownToggle
                class="btn btn-outline-primary ms-3"
                data-cy="didacticOverviewAddEvalCriterionButton"
            >
                <i class="bi bi-plus"></i> Auswertungskriterium Hinzufügen
            </button>
            <div ngbDropdownMenu class="position-absolute">
                <button
                    ngbDropdownItem
                    (click)="
                        creatingcriterion = true;
                        this.setCriterionCreationCategory('boolEvalCriterion')
                    "
                >
                    Erfüllbares Kriterium
                </button>
                <button
                    ngbDropdownItem
                    (click)="
                        creatingcriterion = true;
                        this.setCriterionCreationCategory('numberEvalCriterion')
                    "
                >
                    Zahl Kriterium
                </button>
                <button
                    ngbDropdownItem
                    (click)="
                        creatingcriterion = true;
                        this.setCriterionCreationCategory(
                            'combinedEvalCriterion'
                        )
                    "
                >
                    Kombiniertes Kriterium
                </button>
            </div>
        </div>
    </div>
    @if (creatingcriterion && this.criterionCreationCategory()) {
        <app-eval-criterion-creation-form
            [criterionCreationCategory]="this.criterionCreationCategory()!"
        />
    }
}
<div
    class="card col-3 p-0 rounded-2 ms-3 mt-3"
    [style.width.px]="this.tableWidth()"
>
    <div class="card-header text-center">
        <h5 class="mb-0 d-flex align-items-center">
            Getroffene Maßnahmen:
            {{
                '(' +
                    this.completedCriteriaCount() +
                    '/' +
                    this.results().length +
                    ')'
            }}
        </h5>
    </div>
    @if (this.results().length === 0) {
        <p class="ms-3">
            Es sind aktuell keine Auswertungskriterien festgelegt.
        </p>
    } @else {
        <!-- TODO @JohannesPotzi @Jogius : integrate the creation form into the list. -->
        @for (result of this.rootResults(); track result.criterionId) {
            <div
                class="card col-3 p-0 rounded-0"
                [style.width.px]="this.tableWidth()"
            >
                <div class="d-flex mx-2">
                    <span class="ms-1">
                        @if (
                            this.rootCriteriaMap()[result.criterionId];
                            as criterion
                        ) {
                            {{ criterion.name }}
                            @if (
                                criterion.criterionType ===
                                'xPatientsAtStatusEvalCriterion'
                            ) {
                                {{ statusNames[criterion.targetStatus] }}
                            }
                            @if (
                                criterion.criterionType ===
                                'reachTechnicalChallengeStateEvalCriterion'
                            ) {
                                {{
                                    ' - ' +
                                        getTechnicalChallengeNamebyId(
                                            criterion.targetTechnicalChallengeId
                                        ) +
                                        ' - ' +
                                        getTechnicalChallengeStateTitlebyId(
                                            criterion.targetTechnicalChallengeId,
                                            criterion.targetTechnicalChallengeStateId
                                        )
                                }}
                            }
                            @if (
                                criterion.criterionType ===
                                    'doMeasureXTimesEvalCriterion' ||
                                criterion.criterionType ===
                                    'xPatientsAtStatusEvalCriterion'
                            ) {
                                {{
                                    ': (' +
                                        (getNumFromEvalResult(result) ?? '') +
                                        '/' +
                                        (getNumFromEvalCriterion(criterion) ??
                                            '') +
                                        ')'
                                }}
                            }
                        }
                    </span>
                    <div class="flex-grow-1"></div>
                    <app-eval-result-status-badge
                        [result]="result"
                        [resultsMap]="this.resultsMap()"
                    />
                </div>
            </div>
        }
    }
</div>
