<div class="form-group mb-3">
    <label class="form-label">Name</label>
    <input
        [formField]="measureTemplateForm.name"
        type="text"
        class="form-control"
        placeholder="Maßnahmenname"
    />
    <app-display-model-validation
        [field]="measureTemplateForm.name()"
        [hide]="true"
    />
</div>
<div class="form-group mb-3">
    <label class="form-label">Kategorie</label>
    <input
        type="text"
        class="form-control"
        [value]="values().categoryName"
        readonly
    />
</div>
<div class="form-group mb-3">
    <label class="form-label"
        >Eigenschaften
        <div ngbDropdown autoClose="outside" class="d-inline-block">
            <button
                ngbDropdownToggle
                type="button"
                class="btn btn-outline-primary ms-3"
            >
                Eigenschaft hinzufügen
            </button>
            <div ngbDropdownMenu>
                @for (property of measurePropertyTypes; track property) {
                    <button
                        ngbDropdownItem
                        (click)="addProperty(property)"
                        type="button"
                        class="btn"
                    >
                        <i class="bi bi-plus"></i>
                        {{ humanReadablePropertyName(property) }}
                    </button>
                }
            </div>
        </div></label
    >
    @if (values().properties.length > 0) {
        <div
            class="d-flex flex-column gap-3 mt-3"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
        >
            @for (
                formProperty of measureTemplateForm.properties;
                let index = $index;
                track index
            ) {
                @let property = values().properties[index]!;
                <div class="card" cdkDrag>
                    <div class="drag-placeholder" *cdkDragPlaceholder></div>
                    <div class="card drag-preview" *cdkDragPreview>
                        <div class="card-body py-2 px-3">
                            <h6 class="mb-0">
                                {{ humanReadablePropertyName(property.type) }}
                            </h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div
                            class="d-flex align-items-center justify-content-between property-header"
                        >
                            <h6 class="mb-0">
                                {{ humanReadablePropertyName(property.type) }}
                            </h6>
                            <div class="d-flex align-items-center gap-1">
                                <button
                                    type="button"
                                    class="btn btn-outline-danger btn-sm"
                                    (click)="removeProperty(index)"
                                >
                                    <i class="bi bi-trash"></i>
                                </button>
                                <i
                                    class="bi bi-list fs-3 drag-handle"
                                    cdkDragHandle
                                ></i>
                            </div>
                        </div>
                        <div class="property-fields">
                            <div class="mb-3">
                                <label class="form-label">Hinweistext</label>
                                <input
                                    [formField]="formProperty.hint"
                                    type="text"
                                    class="form-control"
                                />
                                <app-display-model-validation
                                    [field]="formProperty.hint()"
                                    [hide]="true"
                                />
                            </div>
                            @switch (property.type) {
                                @case ('manualConfirm') {
                                    @let manualConfirmProperty =
                                        asManualConfirmProperty(formProperty);
                                    <div class="mb-3">
                                        <label class="form-label"
                                            >Bestätigungstext</label
                                        >
                                        <textarea
                                            [formField]="
                                                manualConfirmProperty.prompt
                                            "
                                            class="form-control"
                                            rows="3"
                                        ></textarea>
                                        <app-display-model-validation
                                            [field]="
                                                manualConfirmProperty.prompt()
                                            "
                                            [hide]="true"
                                        />
                                    </div>
                                    <div>
                                        <label class="form-label"
                                            >Bestätigungs-Code (optional)</label
                                        >
                                        <input
                                            [formField]="
                                                manualConfirmProperty.confirmationString
                                            "
                                            type="text"
                                            class="form-control"
                                        />
                                        <app-display-model-validation
                                            [field]="
                                                manualConfirmProperty.confirmationString()
                                            "
                                            [hide]="true"
                                        />
                                    </div>
                                }
                                @case ('response') {
                                    @let responseProperty =
                                        asResponseProperty(formProperty);
                                    <label class="form-label"
                                        >Rückmeldung</label
                                    >
                                    <textarea
                                        [formField]="responseProperty.response"
                                        class="form-control"
                                        rows="3"
                                        placeholder="Text für die Rückmeldung"
                                    ></textarea>
                                    <app-display-model-validation
                                        [field]="responseProperty.response()"
                                        [hide]="true"
                                    />
                                }
                                @case ('delay') {
                                    @let delayProperty =
                                        asDelayProperty(formProperty);
                                    <label class="form-label"
                                        >Dauer in Sekunden</label
                                    >
                                    <input
                                        [formField]="delayProperty.delay"
                                        type="number"
                                        class="form-control"
                                        step="1"
                                        placeholder="z. B. 30"
                                    />
                                    <app-display-model-validation
                                        [field]="delayProperty.delay()"
                                        [hide]="true"
                                    />
                                }
                                @case ('alarm') {
                                    <app-alarm-property-editor
                                        [alarmGroupIds]="property.alarmGroups"
                                        [targetTransferPointIds]="
                                            property.targetTransferPointIds
                                        "
                                        (alarmGroupIdsChange)="
                                            updateAlarmGroups(index, $event)
                                        "
                                        (targetTransferPointIdsChange)="
                                            updateTargetTransferPoints(
                                                index,
                                                $event
                                            )
                                        "
                                    />
                                }
                                @case ('eocLog') {
                                    @let eocLogProperty =
                                        asEocLogProperty(formProperty);
                                    <label class="form-label"
                                        >Einsatztagebuch-Nachricht
                                        (optional)</label
                                    >
                                    <textarea
                                        [formField]="eocLogProperty.message"
                                        class="form-control"
                                        rows="3"
                                        placeholder="Text für den Eintrag"
                                    ></textarea>
                                    <app-display-model-validation
                                        [field]="eocLogProperty.message()"
                                        [hide]="true"
                                    />
                                    <div class="d-flex flex-row gap-2">
                                        <div class="form-group mb-3">
                                            Editierbar
                                            <div class="form-switch">
                                                <input
                                                    [formField]="
                                                        eocLogProperty.editable
                                                    "
                                                    class="form-check-input"
                                                    type="checkbox"
                                                />
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            Bestätigung
                                            <div class="form-switch">
                                                <input
                                                    [formField]="
                                                        eocLogProperty.confirm
                                                    "
                                                    class="form-check-input"
                                                    type="checkbox"
                                                />
                                            </div>
                                        </div>
                                    </div>

                                    <app-display-model-validation
                                        [field]="eocLogProperty()"
                                        [hide]="true"
                                    />
                                }
                                @case ('drawFreehand') {
                                    @let drawFreehandProperty =
                                        asDrawFreehandProperty(formProperty);
                                    <div class="mb-3">
                                        <label class="form-label"
                                            >Strichfarbe</label
                                        >
                                        <input
                                            [formField]="
                                                drawFreehandProperty.strokeColor
                                            "
                                            type="color"
                                            class="form-control form-control-color"
                                        />
                                    </div>
                                    <div>
                                        <label class="form-label"
                                            >Füllfarbe</label
                                        >
                                        <input
                                            [formField]="
                                                drawFreehandProperty.fillColor
                                            "
                                            type="color"
                                            class="form-control form-control-color"
                                        />
                                    </div>
                                }
                                @case ('drawLine') {
                                    @let drawLineProperty =
                                        asDrawLineProperty(formProperty);
                                    <label class="form-label"
                                        >Strichfarbe</label
                                    >
                                    <input
                                        [formField]="
                                            drawLineProperty.strokeColor
                                        "
                                        type="color"
                                        class="form-control form-control-color"
                                    />
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    } @else {
        <div class="text-muted mt-3 mb-3">
            Keine Maßnahmeneigenschaften zugewiesen
        </div>
    }
    <app-display-model-validation [field]="measureTemplateForm.properties()" />
</div>

<button
    (click)="submit()"
    [disabled]="measureTemplateForm().invalid()"
    class="btn btn-primary"
>
    {{ btnText() }}
</button>

<app-display-model-validation [field]="measureTemplateForm()" />
