<div class="mt-4 p-3 bg-light">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                FüSim Digital, Version {{ version }} –
                <a
                    href="mailto:kontakt@manv-simulation.de?subject=Feedback zur FüSim Digital Version {{
                        version
                    }}"
                >
                    Feedback geben
                </a>
            </div>

            <!--If you change it here, also change it in index.html so it available even without JavaScript-->
            <div>
                <a routerLink="/about/terms">Nutzungsbedingungen</a> ·
                <a routerLink="/about/license">Lizenz</a> ·
                <a routerLink="/about/privacy">Datenschutz</a> ·
                <a routerLink="/about/imprint">Impressum</a>
            </div>
        </div>
    </div>
</div>
