<!-- TODO: layout -->
<h5 class="popover-header">
    {{ technicalChallenge().name }}
    <button
        (click)="closePopup()"
        type="button"
        class="btn-close float-end"
    ></button>
</h5>
<div class="popover-body" style="width: 300px">
    <div class="mb-2">
        <h6>Status:</h6>
        {{ currentState().title }}
    </div>

    <div class="mb-2">
        <h6>Aufgaben:</h6>
        <ul>
            @for (
                task of technicalChallenge().relevantTasks | values;
                track task.id
            ) {
                <li [attr.data-taskId]="task.id">
                    {{ task.taskName }}:
                    {{
                        technicalChallenge().taskProgress[task.id] ?? 'unknown'
                    }}
                    |
                    {{ progressGuardsByTaskId().get(task.id)?.minProgress }}
                </li>
            } @empty {
                <li><em>Keine Aufgaben</em></li>
            }
        </ul>
    </div>

    <div class="mb-2">
        <h6>Timer:</h6>
        Current ExerciseTime: {{ exerciseTime() }}
        <ul>
            @for (guard of timerGuards(); track $index) {
                <li>
                    {{ guard.name ?? 'unnamed' }} needs
                    {{ guard.minTimePassed }}
                </li>
            }
        </ul>
    </div>

    <div class="mb-2">
        <h6>Zugewiesenes Personal:</h6>
        <ul>
            <!--            //  TODO: is this track correct?-->
            @for (
                assignment of assignedPersonnel();
                track assignment[0].id + assignment[1].id
            ) {
                @let personnel = assignment[0];
                @let task = assignment[1];

                <li>{{ personnel.typeName }}: {{ task.taskName }}</li>
            }
        </ul>
    </div>
</div>
