@let content = element().content;

@switch (content.type) {
    @case ('alarmGroup') {
        <app-generic-element-card
            [title]="content.name"
            [subtitle]="
                (content.alarmGroupVehicles | values).length + ' Fahrzeuge'
            "
            [editable]="mode() === 'edit'"
            (click)="openEditor()"
            (delete)="deleteElement()"
            (duplicate)="duplicateElement()"
        />
    }
    @case ('vehicleTemplate') {
        <app-generic-element-card
            [image]="content.image.url"
            [title]="content.vehicleType"
            [subtitle]="content.name"
            [editable]="mode() === 'edit'"
            (click)="openEditor()"
            (delete)="deleteElement()"
            (duplicate)="duplicateElement()"
        />
    }

    @default {
        <app-generic-element-card
            [title]="element().title"
            subtitle="Unbekannter Typ"
            [editable]="false"
        />
    }
}
