<app-show-more defaultHeight="100px">
    @if (message.config.body; as body) {
        {{ body }}
    }
    @if (message.config.button; as button) {
        <button
            [class]="'btn btn-sm ms-2 btn-' + button.color"
            (click)="message.event$.next('click')"
        >
            {{ button.name }}
        </button>
    }
    @if (message.config.logValue && message.config.body) {
        <div class="mt-3"></div>
    }
    @if (message.config.logValue) {
        <pre
            class="m-0"
            style="white-space: pre-wrap; max-height: 300px"
        ><code>{{ message.config.logValue | logToString }}</code>
    </pre>
    }
</app-show-more>
