<div class="modal-header">
    <h4 class="modal-title">{{ titleText }}</h4>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
    <p>
        {{ descriptionText }}
    </p>

    @if (inviteLink(); as inviteLink) {
        <div class="input-group">
            <input
                [ngModel]="inviteLink"
                type="text"
                class="form-control"
                readonly
            />
            <button
                app-copy-button
                class="btn btn-outline-secondary"
                [value]="inviteLink"
                icon="link-45deg"
                ngbTooltip="{{ typeText }} kopieren"
                container="body"
            ></button>
        </div>
    } @else {
        <button class="btn btn-primary" (click)="invite()">
            <i class="bi bi-link-45deg me-1"></i>
            {{ typeText }} erstellen
        </button>
    }
</div>
