@if (exerciseTemplate(); as exerciseTemplate) {
    <div class="card">
        <div class="card-body">
            <h2 class="card-title h4 d-flex">
                <app-inline-text-editor
                    class="flex-grow-1"
                    [value]="exerciseTemplate.name"
                />
            </h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <i class="bi bi-clock me-2"></i>
                @if (exerciseTemplate.lastExerciseCreatedAt) {
                    Letzte Übung erstellt am
                    {{
                        exerciseTemplate.lastExerciseCreatedAt | date: 'medium'
                    }}
                } @else {
                    <em>Noch keine Übung erstellt</em>
                }
            </li>
            <li class="list-group-item d-flex">
                <app-inline-text-editor
                    class="flex-grow-1"
                    [value]="exerciseTemplate.description"
                />
            </li>
        </ul>
        <div class="card-body">
            <a
                [routerLink]="`/exercises/${exerciseTemplate.trainerId}`"
                class="btn btn-primary me-2"
            >
                Öffnen
            </a>
            <a class="btn btn-primary"> Neue Übung starten </a>
        </div>
    </div>
}
