@if (exercise(); as exercise) {
    <div class="card">
        <div class="card-body">
            <h2 class="card-title h4">#{{ exercise.trainerId }}</h2>
            <p class="card-text">Teilnehmer-ID: {{ exercise.participantId }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <i class="bi bi-clock me-2"></i>
                zuletzt benutzt am {{ exercise.lastUsedAt | date: 'medium' }}
            </li>
        </ul>
        <div class="card-body">
            <a
                [routerLink]="`/exercises/${exercise.trainerId}`"
                class="btn btn-primary"
                >Öffnen</a
            >
        </div>
    </div>
}
