@if (exerciseType() === 'template') {
    <button
        (click)="tryToCreateNewExercise()"
        class="btn btn-outline-secondary"
    >
        Neue Übung erstellen
    </button>
} @else if (exerciseStatus() === 'running') {
    <button
        (click)="pauseExercise()"
        class="btn btn-primary"
        data-cy="trainerToolbarPauseButton"
    >
        Pause
    </button>
} @else {
    <button
        (click)="startExercise()"
        class="btn btn-primary"
        data-cy="trainerToolbarStartButton"
    >
        Start
    </button>
}
