<div class="modal-header">
    <h4 class="modal-title">Sammlung "{{ collection.title }}" beitreten</h4>
    <button
        type="button"
        class="btn-close"
        (click)="onJoin.next(false)"
    ></button>
</div>
<div class="modal-body">
    <p>
        Möchten Sie der Sammlung <b>{{ collection.title }}</b> beitreten?
        <br />
        Sie erhalten damit Zugriff auf die Inhalte der Sammlung und können diese
        in Ihren Übungsszenarien verwenden.
    </p>
    <p class="text-muted">
        Die Inhalte der Sammlung werden von anderen Nutzern bereitgestellt.
        Bitte überprüfen Sie die Inhalte sorgfältig, bevor Sie sie in Ihren
        Übungsszenarien verwenden. Die Verwalter der Sammlung können Ihren Namen
        sehen, wenn Sie der Sammlung beitreten.
    </p>
    <br />
    <div class="d-flex justify-content-between align-items-center gap-2">
        <button class="btn btn-outline-secondary" (click)="onJoin.next(false)">
            Abbrechen
        </button>
        <button class="btn btn-primary ms-auto" (click)="onJoin.next(true)">
            Sammlung beitreten
        </button>
    </div>
</div>
