<div class="dropdown-menu chooser-popup-component">
    @for (entry of availableTasks(); track entry) {
        <h6 class="dropdown-header text-center">
            {{ entry.stateMachine.name }}
        </h6>
        @for (task of entry.tasks; track task.id) {
            <button
                (click)="assignTask(entry.stateMachine.id, task.id)"
                type="button"
                class="dropdown-item"
                data-cy="chooseTaskPopupAssignTaskButton"
            >
                {{ task.taskName }}
            </button>
        } @empty {
            <div class="text-muted p-1 fst-italic">Keine Aktion möglich.</div>
        }
    } @empty {
        <div class="text-muted p-1 fst-italic">Keine Aktion möglich.</div>
    }
</div>
