<div class="form-group mb-3">
    <label class="form-label">Bezeichnung der Alarmgruppe</label>
    <input
        #nameInput="ngModel"
        [(ngModel)]="values().name"
        [disabled]="disabled()"
        required
        type="text"
        class="form-control"
        placeholder="z.B. MANV-25"
    />
    <app-display-validation [ngModelInput]="nameInput"></app-display-validation>
</div>

<div class="form-group mb-3">
    <label class="form-label">Anzahl der Auslösungen beschränken auf</label>
    <input
        #limitInput="ngModel"
        [(ngModel)]="values().triggerLimit"
        [disabled]="disabled()"
        type="number"
        class="form-control"
        placeholder="z.B. 3"
    />
    <app-display-validation
        [ngModelInput]="limitInput"
    ></app-display-validation>
</div>

<div class="form-group mb-3">
    <label class="form-label"
        >Fahrzeuge

        @if (!disabled()) {
            <div ngbDropdown autoClose="outside" class="d-inline-block">
                <button
                    ngbDropdownToggle
                    type="button"
                    class="btn btn-outline-primary ms-3"
                >
                    Fahrzeug hinzufügen
                </button>
                <div ngbDropdownMenu>
                    @for (
                        availableVehicle of availableVehicles();
                        track availableVehicle.versionId
                    ) {
                        <button
                            ngbDropdownItem
                            (click)="addVehicle(availableVehicle)"
                            type="button"
                            class="btn"
                        >
                            <i class="bi bi-plus"></i>
                            {{ availableVehicle.versionId }}
                        </button>
                    }
                </div>
            </div>
        }
    </label>
    @if ((values().alarmGroupVehicles | values).length > 0) {
        <div class="d-flex flex-wrap">
            @for (
                vehicleTemplate of values().alarmGroupVehicles | values;
                track vehicleTemplate.id;
                let index = $index
            ) {
                @let vehicle =
                    getAvailableVehicleByVersionId(
                        vehicleTemplate.vehicleTemplateId
                    );
                @if (vehicle === undefined) {
                    <div class="alert alert-danger" role="alert">
                        Fehler: Fahrzeugvorlage mit ID
                        {{ vehicleTemplate.vehicleTemplateId }} nicht gefunden.
                    </div>
                } @else {
                    <app-map-editor-card
                        [title]="vehicle.content.name"
                        [imageUrl]="vehicle.content.image.url"
                        [enableDeleteButton]="!disabled()"
                        (elementDelete)="removeVehicle(vehicleTemplate.id)"
                    />
                }
            }
        </div>
    } @else {
        <div class="text-muted mt-3 mb-3">Keine Fahrzeuge zugewiesen</div>
    }
</div>

@if (!disabled()) {
    <button
        class="btn btn-primary"
        [disabled]="nameInput.invalid"
        (click)="submitData()"
    >
        {{ btnText() }}
    </button>
}
