<div class="row p-2 state-machine-editor">
    <div class="col" style="height: 100%">
        <div class="card" style="max-height: 100%">
            <h6 class="card-header">Zustände</h6>
            <div ngbAccordion style="overflow: scroll">
                @for (state of states(); track state.id) {
                    <div ngbAccordionItem>
                        <span ngbAccordionHeader>
                            <button ngbAccordionButton>
                                {{ state.title }}
                            </button>
                        </span>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <app-state-machine-state-editor
                                        [stateId]="state.id"
                                        [stateMachine]="stateMachine()"
                                    ></app-state-machine-state-editor>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h6 class="card-header">Aufgaben</h6>
            <ul class="list-group list-group-flush">
                @for (task of availableProgressGuards(); track task.id) {
                    <li class="list-group-item">
                        <div>{{ task.taskName }}</div>
                        <div>Dauer: {{task}}</div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
