<div class="d-flex flex-column h-100 mh-100">
    <h3>Log</h3>

    <div class="mb-3">
        <h5>
            Filter

            <button
                class="btn btn-primary btn-sm ms-2"
                [ngbPopover]="addCategoryTemplate"
                #addCategoryPopover="ngbPopover"
                placement="bottom"
                autoClose="outside"
                [disabled]="availableCategories.length === 0"
            >
                <i class="bi bi-plus-lg me-1"></i>
                Kategorie hinzufügen
            </button>
            <button
                (click)="clearFilters()"
                class="btn btn-outline-danger btn-sm ms-1"
                [disabled]="filters.length === 0"
            >
                <i class="bi bi-trash me-1"></i>
                Alle Filter löschen
            </button>
        </h5>

        <ng-template #addCategoryTemplate>
            <app-searchable-dropdown
                [options]="availableCategories"
                (selected)="addCategory($event); addCategoryPopover.close()"
            />
        </ng-template>

        @if (filters.length > 0) {
            <ul class="list-group list-group-flush">
                @for (filter of filters; track filter) {
                    <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                    >
                        <div>
                            <span class="fw-bold">{{ filter.category }}</span>
                            @if (filter.specifiers.length > 0) {
                                <span class="text-muted"> hat Wert </span>
                            } @else {
                                <span class="text-muted"> ist gesetzt</span>
                            }

                            @for (
                                specifier of filter.specifiers;
                                track specifier;
                                let i = $index;
                                let isLast = $last
                            ) {
                                <span
                                    class="badge"
                                    [style.color]="specifier.color"
                                    [style.backgroundColor]="
                                        specifier.backgroundColor
                                    "
                                >
                                    {{ specifier.name }}
                                    <i
                                        (click)="
                                            removeSpecifierFromCategory(
                                                specifier.specifier,
                                                filter.category
                                            )
                                        "
                                        class="bi bi-x ms-1 py-1"
                                        style="cursor: pointer"
                                    ></i>
                                </span>

                                @if (!isLast) {
                                    <span class="text-muted"> oder </span>
                                }
                            }
                        </div>
                        <div>
                            <button
                                class="btn btn-outline-primary btn-sm me-1"
                                [ngbPopover]="addSpecifierTemplate"
                                #addSpecifierPopover="ngbPopover"
                                placement="left"
                                autoClose="outside"
                                [disabled]="
                                    availableSpecifiersPerCategory[
                                        filter.category
                                    ]!.length === 0
                                "
                            >
                                <i class="bi bi-plus-lg"></i>
                            </button>
                            <button
                                (click)="removeCategory(filter.category)"
                                class="btn btn-outline-danger btn-sm"
                            >
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>

                        <ng-template #addSpecifierTemplate>
                            <app-searchable-dropdown
                                [options]="
                                    availableSpecifiersPerCategory[
                                        filter.category
                                    ]!
                                "
                                (selected)="
                                    addSpecifierToCategory(
                                        $event,
                                        filter.category
                                    );
                                    addSpecifierPopover.close()
                                "
                            />
                        </ng-template>
                    </li>
                }
            </ul>
        } @else {
            <span class="text-muted">
                Keine Filter vorhanden. Sie können einen neuen Filter über den
                Button hinzufügen.
            </span>
        }
    </div>

    <h5>
        @if (filters.length === 0) {
            <span> Alle Einträge </span>
        } @else {
            <span>Gefilterte Einträge</span>
        }

        <span class="fw-light"> ({{ filteredLogEntries.length }})</span>
    </h5>

    <ul class="list-group list-group-striped m-1 overflow-auto">
        @for (
            logEntry of filteredLogEntries;
            track logEntry;
            let index = $index
        ) {
            <li class="list-group-item">
                <app-log-entry
                    [logEntry]="logEntry"
                    [id]="'log-entry-' + index"
                />
            </li>
        }
    </ul>
</div>
