@if (behaviorState$ | async; as behaviorState) {
    @if (possibleRequestTargets$ | async; as possibleRequestTargets) {
        <select
            #requestTargetSelect
            class="form-select no-validation"
            [ngModel]="behaviorState.requestTargetId ?? 'noTarget'"
            (change)="changeRequestTarget(requestTargetSelect.value)"
        >
            <option [value]="'noTarget'">Kein Ziel</option>
            @for (option of possibleRequestTargets; track option.id) {
                <option [value]="option.id">
                    {{ option.name }}
                </option>
            }
        </select>
    }
}
