<div class="modal-header">
    <h4 class="modal-title">
        Technische Herausforderung importieren
        <app-help-button
            url="2_exercises/3_exercise_elements.html#technische-herausforderungen"
            [trainerOnly]="true"
        />
    </h4>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>

<div class="modal-body">
    <app-upload-technical-challenge-template-form
        (outputTemplate)="importTemplate($event.technicalChallengeTemplate, $event.additionalTasks)"

    ></app-upload-technical-challenge-template-form>
</div>
