<app-header />
<main class="container">
    @if (organisation.hasValue()) {
        @let org = organisation.value();
        <div class="mb-4 card">
            <div class="card-body pb-0">
                <h1 class="d-flex align-items-center">
                    @if (
                        org.userRole === 'admin' && !org.personalOrganisationOf
                    ) {
                        <app-inline-text-editor
                            class="flex-grow-1"
                            [required]="true"
                            [value]="org.name"
                            name="Name der Organisation"
                            (update)="
                                patchOrganisation({
                                    name: $event,
                                })
                            "
                            [singleLine]="true"
                        />
                    } @else {
                        {{ org.name }}
                    }
                </h1>
            </div>
            <hr />
            <div class="card-body pt-0">
                @if (org.personalOrganisationOf) {
                    <span class="badge bg-primary"
                        ><i class="bi bi-house"></i> Persönliche
                        Organisation</span
                    >
                } @else if (org.userRole === 'admin') {
                    <app-inline-text-editor
                        class="flex-grow-1"
                        [value]="org.description"
                        name="Beschreibung der Organisation"
                        (update)="
                            patchOrganisation({
                                description: $event,
                            })
                        "
                    />
                } @else {
                    {{ org.description }}
                }
            </div>
        </div>

        @if (org.personalOrganisationOf) {
            <p class="alert alert-primary">
                <i class="bi bi-info-circle me-2"></i>
                Dies ist Ihre persönliche Organisation. Alle Inhalte sind privat
                und nur Ihnen zugänglich.
            </p>
        }

        <nav ngbNav #nav="ngbNav" class="nav-tabs">
            <ng-container ngbNavItem="content">
                <a ngbNavLink>
                    <i class="bi bi-box-seam me-1"></i>
                    Inhalte
                    <span class="badge text-bg-secondary">4</span>
                </a>
                <ng-template ngbNavContent>First content</ng-template>
            </ng-container>
            @if (!org.personalOrganisationOf) {
                <ng-container ngbNavItem="members">
                    <a ngbNavLink>
                        <i class="bi bi-people me-1"></i>
                        Mitglieder
                        <span class="badge text-bg-secondary">
                            {{ org.members.length }}
                        </span>
                    </a>
                    <ng-template ngbNavContent>
                        @if (org.userRole === 'admin') {
                            <button
                                class="btn btn-primary mt-2"
                                (click)="invite()"
                            >
                                <i class="bi bi-person-plus me-1"></i>
                                Mitglied einladen
                            </button>
                        }
                        <ul class="list-group mt-2">
                            @for (member of org.members; track member) {
                                <li class="list-group-item">
                                    <div class="row">
                                        <div
                                            class="col d-flex align-items-center"
                                        >
                                            {{ member.user.displayName }}
                                        </div>
                                        <div
                                            class="col d-flex align-items-center"
                                        >
                                            <span class="me-2">Rolle:</span>
                                            @if (org.userRole === 'admin') {
                                                <select
                                                    class="form-select form-select-sm"
                                                    [ngModel]="member.role"
                                                    (ngModelChange)="
                                                        updateMembershipRole(
                                                            member.id,
                                                            $event
                                                        )
                                                    "
                                                >
                                                    @for (
                                                        role of organisationMembershipRoleAllowedValues;
                                                        track role
                                                    ) {
                                                        <option
                                                            [value]="role"
                                                            [selected]="
                                                                member.role ===
                                                                role
                                                            "
                                                        >
                                                            {{
                                                                organisationMembershipRoleToGermanNameDictionary[
                                                                    role
                                                                ]
                                                            }}
                                                        </option>
                                                    }
                                                </select>
                                            } @else {
                                                <span
                                                    class="badge badge-pill text-bg-secondary"
                                                >
                                                    {{
                                                        organisationMembershipRoleToGermanNameDictionary[
                                                            member.role
                                                        ]
                                                    }}
                                                </span>
                                            }
                                        </div>

                                        <div class="col">
                                            @if (
                                                org.userRole === 'admin' &&
                                                member.user.id !==
                                                    authService.authData().user!
                                                        .id
                                            ) {
                                                <button
                                                    class="btn btn-sm btn-danger float-end"
                                                    (click)="
                                                        deleteMembership(member)
                                                    "
                                                >
                                                    Entfernen
                                                </button>
                                            } @else if (
                                                member.user.id ===
                                                authService.authData().user!.id
                                            ) {
                                                <button
                                                    class="btn btn-sm btn-danger float-end"
                                                    (click)="leave()"
                                                >
                                                    Verlassen
                                                </button>
                                            }
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </ng-template>
                </ng-container>
                <div class="flex-grow-1"></div>
                <ng-container ngbNavItem="settings">
                    <a ngbNavLink>
                        <i class="bi bi-gear me-1"></i>
                        Einstellungen
                    </a>
                    <ng-template ngbNavContent>
                        <div class="card border-danger mt-2">
                            <div class="card-body d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h5 class="card-title text-danger">
                                        Organisation verlassen
                                    </h5>
                                    Wenn Sie die Organisation verlassen, haben
                                    Sie keinen Zugriff mehr auf die dort
                                    gespeicherten Daten.
                                </div>
                                <button
                                    class="btn btn-danger"
                                    (click)="leave()"
                                >
                                    Verlassen
                                </button>
                            </div>
                        </div>
                        <div class="card border-danger mt-2">
                            <div class="card-body d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <h5 class="card-title text-danger">
                                        Organisation löschen
                                    </h5>
                                    Wenn Sie die Organisation löschen, werden
                                    alle dort gespeicherten Daten unwiderruflich
                                    gelöscht.
                                </div>
                                <button
                                    class="btn btn-danger"
                                    (click)="delete()"
                                >
                                    Löschen
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            }
        </nav>
        <div [ngbNavOutlet]="nav"></div>
    }
</main>
<app-footer />
