<a
    class="card d-block text-decoration-none"
    [routerLink]="
        noLink() ? undefined : '/collections/' + collection().entityId
    "
    [queryParams]="{ from: fromLocation() }"
>
    <div class="card-body">
        <h5 class="mb-0 card-title">{{ collection().title }}</h5>
    </div>
    <ul class="list-group list-group-flush small">
        <li class="list-group-item py-1">
            <i class="bi bi-clock me-1"></i> Zuletzt bearbeitet:
            {{ collection().editedAt | date }}
        </li>
        <li class="list-group-item py-1">
            <i class="bi bi-grid me-1"></i>
            {{ collection().elementCount }} Übungselemente
            @if (collection().draftState) {
                <i class="bi bi-pencil-fill ms-1 draftstate-indicator"></i>
            }
        </li>
    </ul>
    <div class="card-body d-flex flex-wrap">
        <a
            [routerLink]="
                noLink() ? undefined : '/collections/' + collection().entityId
            "
            [queryParams]="{ from: fromLocation() }"
            class="btn btn-primary me-2"
        >
            Öffnen
        </a>
    </div>
</a>
