<a
    class="card d-block text-decoration-none"
    [routerLink]="'/collections/' + collection().entityId"
    [queryParams]="{ from: fromLocation() }"
>
    <div class="card-header">
        <h5 class="mb-0 my-1 card-title">{{ collection().title }}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <i class="bi bi-clock me-1"></i> Zuletzt bearbeitet:
            {{ collection().editedAt | date }}
        </li>
        <li class="list-group-item">
            <i class="bi bi-grid me-1"></i>
            {{ collection().elementCount }} Einträge
            @if (collection().draftState) {
                <i class="bi bi-pencil-fill ms-1 draftstate-indicator"></i>
            }
        </li>
        <li class="list-group-item">
            <i class="bi bi-person-badge me-1"></i>
            @switch (collection().relationship) {
                @case ('admin') {
                    Besitzer
                }
                @case ('editor') {
                    Bearbeiter
                }
                @case ('viewer') {
                    Betrachter
                }
            }
        </li>
    </ul>
</a>
