@use 'bootstrap/scss/bootstrap' as bootstrap;

// https://angular.dev/guide/aria/tree

[ngTree] {
    width: 24rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
[ngTreeItem] {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    padding: 0.3rem 1rem;
}
[ngTreeItem][aria-disabled='true'] {
    opacity: 0.5;
    cursor: default;
}
[ngTreeItem]:hover {
    background-color: bootstrap.$light;
}
[ngTreeItem]:focus {
    outline: 1px solid color-mix(in srgb, bootstrap.$primary 60%, transparent);
}
[ngTreeItem].active {
    background: bootstrap.$primary-bg-subtle;
}
[ngTreeItem][aria-current] {
    background-clip: text;
    color: transparent;
}
.material-symbols-outlined {
    margin: 0;
    width: 24px;
}
.expand-icon {
    transition: transform 0.2s ease;
}
[ngTreeItem][aria-expanded='true'] .expand-icon {
    transform: rotate(90deg);
}
li[aria-expanded='false'] + ul[role='group'] {
    display: none;
}
