<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        Sammlungsänderungen Übersicht
    </h4>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="close(null)"
    ></button>
</div>
<div class="d-flex flex-row">
    @if (changeImpactTreeNodes()) {
        <ul
            ngTree
            #tree="ngTree"
            [(values)]="selected"
            class="rounded-none border-end border-light-subtle mb-0"
        >
            <ng-template
                [ngTemplateOutlet]="treeNodes"
                [ngTemplateOutletContext]="{
                    nodes: changeImpactTreeNodes(),
                    parent: tree,
                }"
            />
        </ul>
    }

    <ng-template #treeNodes let-nodes="nodes" let-parent="parent">
        @for (node of nodes; track node.value) {
            <li
                ngTreeItem
                [parent]="parent"
                [value]="node.value"
                [label]="node.name"
                [disabled]="node.disabled"
                [(expanded)]="node.expanded"
                #treeItem="ngTreeItem"
                (click)="selectChangeById(node.value)"
                class="d-flex flex-row align-items-start gap-2"
                [class.active]="selectedChange()?.id === node.value"
            >
                <i
                    aria-hidden="true"
                    class="bi expand-icon"
                    [class.bi-chevron-right]="node.children"
                ></i>
                @if (node.change) {
                    @switch (node.change.type) {
                        @case ('updated') {
                            <i class="bi bi-pencil text-secondary"></i>
                        }
                        @case ('added') {
                            <i class="bi bi-plus-lg text-secondary"></i>
                        }
                        @case ('removed') {
                            <i class="bi bi-trash text-secondary"></i>
                        }
                    }
                    <div class="d-flex flex-column w-100">
                        <span class="">{{ node.change.entity.title }}</span>
                        <small class="text-muted">{{
                            (
                                node.change.entity.content.type
                                | versionedElementDisplayName
                            )?.singular ?? ''
                        }}</small>
                    </div>
                } @else {
                    <span class="me-auto">{{ node.name }}</span>
                }

                @if (actionExistsForNode(node)) {
                    <i
                        aria-hidden="true"
                        class="bi bi-check-circle-fill text-success"
                    ></i>
                } @else {
                    <i
                        aria-hidden="true"
                        class="bi bi-exclamation-triangle-fill text-warning"
                    ></i>
                }
            </li>

            @if (node.children) {
                <ul role="group">
                    <ng-template
                        ngTreeItemGroup
                        [ownedBy]="treeItem"
                        #group="ngTreeItemGroup"
                    >
                        <ng-template
                            [ngTemplateOutlet]="treeNodes"
                            [ngTemplateOutletContext]="{
                                nodes: node.children,
                                parent: group,
                            }"
                        />
                    </ng-template>
                </ul>
            }
        }
    </ng-template>

    <div class="modal-body">
        @if (selectedChange(); as selectedChange) {
            @let applyingChanges = changesToApply()[selectedChange.id];
            @switch (selectedChange.type) {
                @case ('removed') {
                    <app-change-impact-deleted-element-item
                        [change]="selectedChange"
                        [applyingChange]="applyingChanges"
                        [elementsOfNewCollection]="newCollectionElements"
                        (applyChange)="applyChange(selectedChange, $event)"
                        (applyForAll)="applyChangeForAll(selectedChange)"
                    />
                }
                @case ('updated') {
                    <app-change-impact-edited-element-item
                        [change]="selectedChange"
                        [applyingChange]="applyingChanges"
                        [elementsOfNewCollection]="newCollectionElements"
                        (applyChange)="applyChange(selectedChange, $event)"
                        (applyForAll)="applyChangeForAll(selectedChange)"
                    />
                }
                @default {
                    <div class="alert alert-warning" role="alert">
                        <p>
                            Element {{ selectedChange.entity.versionId }} wurde
                            verändert. ({{ selectedChange.type }})
                        </p>
                        <p>
                            Für diesen Fall gibt es noch keine spezifische
                            Darstellung.
                        </p>
                        <p>Dies ist ein Fehler.</p>
                    </div>
                }
            }
        }
    </div>
</div>
<div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-outline-danger" (click)="close(false)">
        Abbrechen
    </button>
    @let remainingChangesCount = changes.length - actionedChangesCount();
    @let progress = (actionedChangesCount() / changes.length) * 100;
    <div class="d-flex flex-row align-items-center gap-3">
        <div class="d-flex flex-column align-items-center gap-1">
            <small class="text-muted">
                {{ remainingChangesCount }} Änderungen verbleibend</small
            >
            <div class="progress" style="width: 200px; height: 100%">
                <div
                    class="progress-bar"
                    role="progressbar"
                    [style.width.%]="progress"
                    [aria-valuenow]="progress"
                    aria-valuemin="0"
                    aria-valuemax="100"
                >
                    {{ actionedChangesCount() }} / {{ changes.length }}
                </div>
            </div>
        </div>
        <button
            type="button"
            class="btn btn-primary"
            (click)="close(true)"
            [disabled]="remainingChangesCount > 0"
            [ngbTooltip]="
                remainingChangesCount > 0
                    ? 'Bitte alle Änderungen bearbeiten, bevor Sie fortfahren können.'
                    : undefined
            "
        >
            Alle Änderungen übernehmen
        </button>
    </div>
</div>
