<div class="modal-header">
    <h4 class="modal-title">Partieller Export</h4>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle me-3"></i>
        <div>
            Leider steht der <strong>partielle Export</strong> aufgrund von
            Umbauarbeiten für eine neue Version der Software, welche
            umfangreiche Funktionen zum Verwalten von Vorlagen enthalten wird,
            <strong>nicht mehr zur Verfügung</strong>. Bitte benutzen Sie
            alternativ die Möglichkeit, einen kompletten Übungsexport
            durchzuführen und nach dem Import nicht benötigte Elemente zu
            löschen. Der Import von alten partiellen Exporten ist weiterhin
            unter <em>Vorlagen importieren</em> möglich.
        </div>
    </div>
</div>
