@if (radiogram$ | async; as radiogram) {
    <h5>
        {{
            radiogram.canBeGranted
                ? 'Anfrage von Ressourcen'
                : 'Benötigte Ressourcen'
        }}
    </h5>

    @if ((radiogram.requiredResource.vehicleCounts | keys).length > 0) {
        <table class="table card-text mb-1">
            <thead>
                <tr>
                    <th class="w-50">Kategorie</th>
                    <th class="w-25">Anzahl</th>
                    @if (radiogram.alreadyPromisedResource !== null) {
                        <th class="w-25">Bereits angefragt</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (
                    vehicleType of radiogram.requiredResource.vehicleCounts
                        | keys;
                    track vehicleType
                ) {
                    <tr>
                        <td>{{ vehicleType }}</td>
                        <td>
                            {{
                                radiogram.requiredResource.vehicleCounts[
                                    vehicleType
                                ]
                            }}
                        </td>
                        @if (radiogram.alreadyPromisedResource !== null) {
                            <td>
                                {{
                                    radiogram.alreadyPromisedResource
                                        .vehicleCounts[vehicleType] ?? 0
                                }}
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @if (radiogram.canBeGranted) {
            @if (showAnswer$ | async) {
                <p class="card-text mt-3">
                    @if (radiogram.resourcesPromised !== undefined) {
                        Die Resource wurde
                        @if (!radiogram.resourcesPromised) {
                            nicht
                        }
                        zugesagt.
                    } @else {
                        Es ist keine Antwort zu dieser Anfrage bekannt
                    }
                </p>
            } @else {
                @if (
                    {
                        value: enableActionButtons$ | async,
                    }.value
                ) {
                    <div class="d-flex row mt-3">
                        <button
                            type="button"
                            (click)="denyRequest()"
                            class="btn btn-danger col-sm mx-1"
                        >
                            Ablehnen
                            <app-hotkey-indicator [hotkey]="denyHotkey" />
                        </button>
                        <button
                            type="button"
                            (click)="acceptRequest()"
                            class="btn btn-success col-sm mx-1"
                        >
                            Akzeptieren
                            <app-hotkey-indicator [hotkey]="acceptHotkey" />
                        </button>
                    </div>
                }
            }
        }
    } @else {
        @if (radiogram.canBeGranted) {
            <!-- Before migration 39, the radiogram did not specify the exact resources needed -->
            <p class="card-text">
                Es werden weitere Ressourcen benötigt, aber es ist keine genaue
                Aufstellung vorhanden.
            </p>
        } @else {
            <p class="card-text">Es werden keine Ressourcen benötigt.</p>
        }
    }
}
