<form class="d-flex flex-grow-1" (submit)="save()">
    @if (edit) {
        <textarea
            #inlineInput="ngModel"
            class="form-control form-control-sm"
            rows="3"
            [ngModel]="value()"
            name="inline"
            autofocus
        ></textarea>
        <app-display-validation
            [ngModelInput]="inlineInput"
        ></app-display-validation>

        <button class="btn btn-primary ms-2" type="submit">
            <i class="bi bi-save"></i>
        </button>
    } @else {
        {{ value() }}
        <button class="btn btn-sm" (click)="edit = true">
            <i class="bi bi-pencil"></i>
        </button>
    }
</form>
