@use './../_variables.scss' as vars;

.localOperationalLeaderContainer {
    padding: vars.$outerBoxPadding;
    display: flex;
    flex-direction: column;

    border-radius: vars.$borderRadius;
}

.label {
    &:not(:first-child) {
        margin-top: vars.$innerBoxPadding;
    }
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: vars.$outerBoxPadding;
}
