<div class="modal-header">
    <h4 class="modal-title">Neue Übungsvorlage erstellen</h4>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>
<div class="modal-body">
    <form (ngSubmit)="createExerciseTemplate()">
        <div class="form-group mb-2">
            <label class="form-label">Organisation</label>
            <select
                [formField]="exerciseTemplateForm.organisationId"
                class="form-control"
                [class.placeholder]="organisations.isLoading()"
            >
                @for (org of organisations.value(); track org.id) {
                    <option [value]="org.id">
                        {{ org.name }}
                    </option>
                }
            </select>
            <app-display-model-validation
                [field]="exerciseTemplateForm.organisationId()"
            />
        </div>

        <div class="form-group mb-2">
            <label class="form-label">Name</label>
            <input
                [formField]="exerciseTemplateForm.name"
                class="form-control"
                [appAutofocus]="true"
                type="text"
            />
            <app-display-model-validation
                [field]="exerciseTemplateForm.name()"
            ></app-display-model-validation>
        </div>

        <div class="form-group mb-2">
            <label class="form-label">Beschreibung</label>

            <textarea
                [formField]="exerciseTemplateForm.description"
                class="form-control"
                rows="3"
            ></textarea>
            <app-display-model-validation
                [field]="exerciseTemplateForm.description()"
            ></app-display-model-validation>
        </div>

        <div class="mb-3">
            @if (importFileName(); as importFileName) {
                <label class="form-label">Importierte Datei</label>
                <input
                    class="form-control ng-valid"
                    [value]="importFileName"
                    disabled
                />
            } @else {
                <label class="btn btn-outline-primary my-2">
                    <i class="bi-cloud-upload me-2"> </i>
                    Vorlage importieren
                    <input
                        (appFileInput)="importFile($event)"
                        type="file"
                        accept="application/json"
                        class="d-none"
                    />
                </label>
            }
        </div>

        <button
            class="btn btn-primary"
            [disabled]="exerciseTemplateForm().invalid()"
        >
            Übungsvorlage erstellen
        </button>
    </form>
</div>
