@if (behaviorState$ | async; as behaviorState) {
    <div class="d-flex justify-content-between align-items-center">
        <div class="mb-1">
            Die Transportorganisation ist aktuell
            @if (behaviorState.transportStarted) {
                <span> gestartet. </span>
            } @else {
                gestoppt.
            }
        </div>

        @if (!behaviorState.transportStarted) {
            <button
                class="btn btn-outline-primary"
                type="button"
                (click)="startTransport()"
            >
                Transport starten
            </button>
        } @else {
            <button
                class="btn btn-outline-primary"
                type="button"
                (click)="stopTransport()"
            >
                Transport stoppen
            </button>
        }
    </div>
}
