@use './../vehicle-tag/vehicle-tag.component' as vehicleTag;
@use './../operational-section-container/operational-section-container.component'
    as container;

.sectionLeaderSlot {
    $color: #888888;
    background-color: container.$innerContainerColor;
    height: vehicleTag.$vehicleTagHeight;
    width: vehicleTag.$vehicleTagWidth;
    border-radius: vehicleTag.$vehicleTagBorderRadius;
    position: relative;
    outline: container.$borderSize dashed $color;
    outline-offset: -(container.$borderSize + 1px);

    &:empty::after {
        content: 'Abschnittsleitung';
        position: relative;
        top: 4px;
        left: 8px;
        font-size: 14px;
        color: $color;
    }
}
