@use 'bootstrap/scss/bootstrap' as bootstrap;
@use './../_variables.scss' as vars;

.sectionLeaderSlot {
    $color: bootstrap.$gray-600;
    background-color: vars.$innerContainerColor;
    height: vars.$vehicleTagHeight;
    width: vars.$vehicleTagWidth;
    border-radius: vars.$borderRadius;
    position: relative;
    outline: vars.$borderSize dashed $color;
    outline-offset: -(vars.$borderSize + 1px);

    &:empty::after {
        content: 'Abschnittsleitung';
        position: relative;
        top: 4px;
        left: 8px;
        font-size: 14px;
        color: $color;
    }
}
