<h5>Bereits bekannte Standorte</h5>

@if (((connectedTransferPointNames$ | async)?.length ?? 0) !== 0) {
    <ul>
        @for (
            connectedTransferPointName of connectedTransferPointNames$ | async;
            track connectedTransferPointName
        ) {
            <li>
                {{ connectedTransferPointName }}
            </li>
        }
    </ul>
} @else {
    <p class="text-muted">Aktuell sind keine Standorte bekannt.</p>
}

<form (ngSubmit)="addConnection()" class="mt-3">
    <button
        [ngbPopover]="selectTransferPointTemplate"
        autoClose="outside"
        #selectTransferPointPopover="ngbPopover"
        placement="bottom"
        [disabled]="((transferPointsToBeAdded$ | async)?.length ?? 0) === 0"
        [appAutofocus]="true"
        tabindex="1"
        class="btn btn-outline-primary w-100 overflow-hidden"
        style="width: 1px"
        type="button"
    >
        <span
            class="flex-grow-1 flex-shrink-1 text-nowrap overflow-hidden"
            style="text-overflow: ellipsis; width: 1px"
        >
            {{
                selectedTransferPoint
                    ? selectedTransferPoint.name
                    : 'Standort auswählen'
            }}
        </span>
        <app-hotkey-indicator keys="Leertaste" class="flex-shrink-1 ms-1" />
        <i class="bi bi-caret-down-fill flex-shrink-1 ms-1"></i>
    </button>
    <ng-template #selectTransferPointTemplate>
        @if (((transferPointsToBeAdded$ | async)?.length ?? 0) !== 0) {
            <app-searchable-dropdown
                [options]="(transferPointsToBeAdded$ | async)!"
                (selected)="
                    selectTransferPoint($event);
                    selectTransferPointPopover.close()
                "
            />
        }
    </ng-template>
    <button
        [disabled]="selectedTransferPoint === null || loading"
        class="btn btn-primary mt-2 row g-0 w-100"
        [tabIndex]="selectedTransferPoint !== null ? 2 : -1"
    >
        Standort bekannt machen
        @if (loading) {
            <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
            ></span>
        } @else {
            <app-hotkey-indicator [hotkey]="submitHotkey" class="ms-1" />
        }
    </button>
</form>
