<div class="modal-header">
    <h4 class="modal-title">Übungselemente verwalten</h4>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="close()"
    ></button>
</div>

<div class="modal-body">
    <div class="d-inline-block w-100 px-2 mb-2">
        @if (selectedCollections().length === 0) {
            <div class="row row-cols-2">
                <div class="col flex-grow-1 h-100">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column gap-2">
                            <h5>Bestehende Sammlung auswählen</h5>
                            <p class="text-muted">
                                Verwenden Sie bereits bestehende Übungselemente.
                            </p>
                            <button
                                class="btn btn-primary"
                                (click)="openCollectionSelectDialog()"
                            >
                                <i class="bi bi-folder-plus"></i>
                                Sammlung auswählen
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col flex-grow-1">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column gap-2">
                            <h5>Neue Sammlung erstellen</h5>
                            <p class="text-muted">
                                Erstellen Sie eine neue Sammlung, um eigene
                                Übungselemente zu erstellen und zu verwalten.
                            </p>
                            <a
                                class="btn btn-secondary"
                                routerLink="/collections"
                                target="_blank"
                            >
                                <i class="bi bi-box-arrow-up-right"></i>
                                Sammlung erstellen
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        } @else {
            <button
                (click)="openCollectionSelectDialog()"
                class="btn btn-outline-primary mb-3"
            >
                <i class="bi bi-folder-plus"></i>
                Neue Sammlung hinzufügen
            </button>
        }

        <div ngbAccordion #accordion="ngbAccordion" [closeOthers]="true">
            @for (collection of selectedCollections(); track collection) {
                <div [ngbAccordionItem]="collection.versionId">
                    <h5 ngbAccordionHeader>
                        <button ngbAccordionButton>
                            <app-exercise-collection-item-component
                                class="w-100 d-block me-3"
                                [collection]="collection"
                            />
                        </button>
                    </h5>

                    <div ngbAccordionCollapse>
                        <div ngbAccordionBody>
                            <ng-template>
                                @if (collectionElements.isLoading()) {
                                    <div class="spinner-border"></div>
                                } @else if (collectionElements.hasValue()) {
                                    <app-collection-elements-list
                                        [collection]="collection"
                                        [collectionElements]="
                                            getElementsByCollection(collection)
                                        "
                                        [showImportedElements]="true"
                                        [editable]="false"
                                        [smallCards]="true"
                                    />
                                } @else {}
                            </ng-template>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
