<h5 class="card-title">Vorhandene Materialien</h5>
<p class="card-text">Das Material reicht für folgende Patientenzahlen:</p>
<table class="table card-text">
    <tbody>
        @for (
            patientCategory of capacity$ | async | keys;
            track patientCategory
        ) {
            <tr>
                <td class="ps-4">
                    <app-patient-status-badge [status]="patientCategory" />
                </td>
                <td>{{ (capacity$ | async)?.[patientCategory] }}</td>
            </tr>
        }
    </tbody>
</table>
