<div ngbDropdown placement="top-end" class="d-inline-block w-100 px-2 mb-2">
    <button
        (click)="openCollectionSelectDialog()"
        class="btn btn-outline-primary btn-sm my-2"
    >
        Neue Sammlung hinzufügen
    </button>
    <ul class="list-group">
        @for (collection of selectedCollections(); track collection) {
            <li class="list-group-item">
                <app-marketplace-collection-item-component
                    [collection]="collection"
                />
            </li>
        }
    </ul>
</div>
