@use 'sass:map';

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';

@use 'maplibre-gl/dist/maplibre-gl.css';
@use 'app/pages/marketplace/shared/_change-indicator-colors' as ci;
@use 'styles/patient-status-colors';
@use 'styles/image-preview';
@use 'styles/animations';

.dropdown-menu {
    overflow: auto;
    max-height: 250px;
}

// These classes are automatically applied by angular on validated inputs
.ng-valid:not(.no-validation) {
    @extend .is-valid;
}
.ng-invalid.ng-dirty:not(.no-validation) {
    @extend .is-invalid;
}

// OpenLayers

// Prevent the control buttons from blocking the map
.ol-control {
    width: fit-content !important;
}

.text-prewrap {
    white-space: pre-wrap;
}

.accordion-button:focus {
    box-shadow: none;
}

main {
    min-height: calc(100dvh - 160px);
}

.modal-xxl {
    width: 90%;
    max-width: 90%;
}

.rounded-none {
    border-radius: 0 !important;
}

.btn-outline-changed {
    border: map.get(bootstrap.$border-widths, 1) solid;
    color: ci.$change-primary !important;
    border-color: ci.$change-primary !important;
    &:hover {
        color: var(--bs-white) !important;
        background-color: ci.$change-primary !important;
    }
}
