@if (isBystander()) {
    <span class="badge rounded-pill patient-status-bg-grey"> Passant </span>
} @else if (
    currentRole() === 'participant' ? status().visible : status().real;
    as displayedStatus
) {
    <span
        class="badge rounded-pill font-monospace"
        [class]="'patient-status-bg-' + displayedStatus"
    >
        {{
            currentRole() !== 'participant'
                ? (status().health / healthPointsDefaults.max | percent)
                : statusNames[displayedStatus]
        }}
    </span>
}
