@if (isBystander()) {
    <span [ngStyle]="{ 'background-color': 'grey' }" class="badge rounded-pill">
        Passant
    </span>
} @else if (
    currentRole() === 'participant' ? status().visible : status().real;
    as displayedStatus
) {
    <span
        [ngStyle]="{ 'background-color': displayedStatus }"
        [class.text-dark]="
            displayedStatus === 'yellow' || displayedStatus === 'white'
        "
        class="badge rounded-pill font-monospace"
    >
        {{
            currentRole() !== 'participant'
                ? (status().health / healthPointsDefaults.max | percent)
                : statusNames[displayedStatus]
        }}
    </span>
}
