<div class="modal-header">
    <h4>Sammlung hinzufügen</h4>
    @if (userAvailableCollections.isLoading()) {
        <div class="spinner-border"></div>
    }
    <button class="btn-close ml-auto" (click)="close(null)"></button>
</div>
<div class="modal-body">
    @if (selectedCollectionData.value(); as collectionData) {
        @let collection = collectionData[0];
        <div class="d-flex align-items-center">
            <h3>
                {{ collection.title }}
                <a
                    [href]="
                        '/collections/' + collection.entityId + '?from=exercise'
                    "
                    target="_blank"
                    class="btn btn-link"
                    ><i class="bi bi-box-arrow-up-right"></i
                ></a>
            </h3>
        </div>
        <span class="text-muted mb-2 d-block">
            Möchten Sie {{ selectedCollectionDataElements().length }} Elemente
            aus dieser Sammlung und ggf. enthaltenen Sammlungen zu der Übung
            hinzufügen?
        </span>
        @if (selectedCollectionCanBeChosen()) {
            <div class="d-flex justify-content-start gap-2">
                <button
                    class="btn btn-outline-secondary"
                    (click)="selectCollection(null)"
                >
                    <i class="bi bi-arrow-left"></i>
                    Andere Sammlung auswählen
                </button>
                <button
                    class="btn btn-primary ml-auto"
                    (click)="close(collection)"
                >
                    "{{ collection.title }}" verwenden
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>
        } @else {
            <div class="alert alert-warning">
                Die aktuelle Sammlung kann nicht in der folgenden Übung
                verwendet werden. Ggf. wird diese bereits verwendet. <br />
                Bitte wählen Sie eine andere Sammlung aus.
            </div>
            <button
                class="btn btn-outline-secondary"
                (click)="selectCollection(null)"
            >
                <i class="bi bi-arrow-left"></i>
                Andere Sammlung auswählen
            </button>
        }
        <hr />
        <app-collection-elements-list
            [collection]="collection"
            [collectionElements]="collectionData[1]"
            [editable]="false"
            [showImportedElements]="showDependencyElements"
            [smallCards]="true"
        />
    } @else {
        @if (showInfoBanner) {
            <div class="alert alert-secondary mb-3" role="alert">
                <b class="d-block"
                    >Übungselemente werden nun zentral verwaltet!</b
                >
                <span class="text-muted">
                    Übungselemente wie Fahrzeuge und Alarmgruppen werden in
                    sogenannten Sammlungen organisiert. Das bedeutet, dass Sie
                    Ihre Übungselemente in Sammlungen anlegen und verwalten
                    können, um sie dann einfach zu Ihren Übungen hinzuzufügen.
                    <br />
                </span>
                <span class="mt-2 d-block text-muted">
                    Wähle Sie eine Sammlung aus, deren Übungselemente Sie in der
                    Übung verwenden möchten.
                </span>
            </div>
        }
        @if (allowCreate) {
            <div
                class="d-flex justify-content-start align-items-center gap-2 mb-3"
            >
                <a
                    class="btn btn-outline-primary"
                    routerLink="/collections"
                    target="_blank"
                >
                    <i class="bi bi-folder-plus"></i>
                    Neue Sammlung erstellen
                </a>
                <button
                    class="btn btn-link"
                    (click)="userAvailableCollections.reload()"
                >
                    <i class="bi bi-arrow-clockwise"></i>
                </button>
            </div>
        }
        @if (userAvailableCollections.hasValue()) {
            <div class="row row-cols-3">
                @for (
                    collection of userAvailableCollections.value();
                    track collection.versionId
                ) {
                    <div class="col mb-4" style="cursor: pointer">
                        <app-collection-card
                            [collection]="collection"
                            (click)="selectCollection(collection)"
                            [noLink]="true"
                        />
                    </div>
                }
            </div>
        }
    }
</div>
@if (allowLeave) {
    <div class="modal-footer justify-content-start">
        <button class="btn btn-outline-danger" (click)="close(null)">
            Abbrechen
        </button>
    </div>
}
