@use 'bootstrap/scss/bootstrap' as bootstrap;

$vehicleTagHeight: 60px;
$vehicleTagWidth: 120px;

$borderRadius: bootstrap.$border-radius-sm;

$outerBoxPadding: 8px;
$innerBoxPadding: 12px;

$tabContainerPadding: 12px;

$vehicleTagGap: 8px;
$borderSize: 1px;
$dashedBorderColor: bootstrap.$gray-600;
$containerBorderSize: bootstrap.$border-width;

$innerContentWidth: (2 * $vehicleTagWidth) + $vehicleTagGap;
$innerContainerWidth: $innerContentWidth + (2 * $innerBoxPadding) +
    (2 * $borderSize);
$containerWidth: $innerContainerWidth + (2 * $outerBoxPadding) +
    (2 * $containerBorderSize);

$innerContainerColor: bootstrap.$gray-100;
