@use './_variables.scss' as vars;

.otvOperationalSectionsTab {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    overflow-y: auto;
    padding: vars.$tabContainerPadding;
}

.border-dashed {
    border-style: dashed;
}

.addNewOperationalSectionButton {
    width: vars.$containerWidth;
}
