<div cdkDropListGroup class="d-flex flex-column h-100">
    <div class="otvOperationalSectionsTab flex-grow-1">
        <app-local-section-leader></app-local-section-leader>
        @for (section of operationalSections$ | async; track section.id) {
            <app-operational-section-container
                [operationalSection]="section"
            ></app-operational-section-container>
        }
        <button
            (click)="addOperationalSection()"
            class="btn btn-outline-dark border-dashed addNewOperationalSectionButton"
        >
            Einsatzabschnitt hinzufügen
        </button>
    </div>
</div>
