@if (exerciseStatus$ | async; as exerciseStatus) {
    <span
        class="badge rounded-pill bg-light text-dark state-badge"
        title="Übung {{
            exerciseStatus === 'notStarted'
                ? 'wurde noch nicht gestartet'
                : exerciseStatus === 'running'
                  ? 'läuft'
                  : 'pausiert'
        }}"
        [class.text-muted]="exerciseStatus !== 'running'"
    >
        @if (exerciseStatus === 'notStarted') {
            <i class="bi bi-stop-fill"></i>
        }
        @if (exerciseStatus === 'paused') {
            <i class="bi bi-pause-fill"></i>
        }
        @if (exerciseStatus === 'running') {
            <i class="bi bi-play-fill"></i>
        }
        {{ currentTime$ | async | date: 'H:mm:ss' : 'UTC' }}
    </span>
}
