@let applyChange = castChangeApply(applyingChange());

<p>Element {{ change().entity.title }} wurde entfernt.</p>
<p>Bitte wählen sie eine geeignete Vorgehensweise aus.</p>

@let elementType = elementTypes[change().element.type];

<div class="card">
    @if (elementType?.replaceFilter) {
        <div class="card-header">
            <div class="form-check">
                <input
                    type="radio"
                    id="keep"
                    name="action"
                    value="keep"
                    [checked]="applyChange?.action === 'replace'"
                    class="form-check-input"
                    (change)="setActionType('replace')"
                />
                <label for="keep" class="form-check-label">
                    Element ersetzen
                </label>
                <br />
            </div>
        </div>

        @if (selectedActionType() === 'replace') {
            <div class="card-body">
                <p>
                    Wählen Sie das Element aus, durch welches das aktuelle
                    ersetzt werden soll:
                </p>
                <div class="d-flex flex-row gap-1 flex-wrap">
                    @for (
                        newElement of elementTypes[
                            change().element.type
                        ]?.replaceFilter(elementsOfNewCollection()) ?? [];
                        track newElement.versionId
                    ) {
                        <app-element-card
                            mode="static"
                            [element]="newElement"
                            [showIndicator]="
                                isReplacementSelected(newElement.versionId)
                                    ? 'selected'
                                    : undefined
                            "
                            (click)="setReplacement(newElement)"
                        />
                    } @empty {
                        <div class="alert alert-warning">
                            Es gibt keine passenden Elemente, die als Ersatz
                            ausgewählt werden können.
                        </div>
                    }
                </div>
            </div>
        }
    }
    <div class="card-header">
        <div class="form-check">
            <input
                type="radio"
                id="remove"
                name="action"
                value="remove"
                class="form-check-input"
                [checked]="applyChange?.action === 'remove'"
                (change)="setActionType('remove')"
            />
            <label for="remove" class="form-check-label">
                Element entfernen
            </label>
            <br />
        </div>
    </div>
    @if (elementType?.orphanable) {
        <div class="card-header">
            <div class="form-check">
                <input
                    type="radio"
                    id="orphan"
                    name="action"
                    value="orphan"
                    [checked]="applyChange?.action === 'orphan'"
                    class="form-check-input"
                    (change)="setActionType('orphan')"
                />
                <label for="orphan" class="form-check-label">
                    Element ohne Sammlung beibehalten
                </label>
                <br />
            </div>
        </div>
    }
</div>

<hr />

@let selectedChangeReplace = isReplacementSelected(undefined);
@let selectedChangeRemove = applyChange && applyChange.action === 'remove';

<div class="alert alert-info" role="alert">
    <b class="d-block">Folgende Aktion wird auf das Element angewendet:</b>
    @if (selectedChangeReplace) {
        <span
            >Das Element {{ change().entity.title }} wird durch
            {{ castReplaceChangeApply(applyChange)!.replaceWith!.name }}
            ersetzt.</span
        >
    } @else if (selectedChangeRemove) {
        <span>Das Element wird entfernt.</span>
    } @else {
        <i>Es wurde noch keine Aktion ausgewählt.</i>
    }
    @if (selectedChangeReplace || selectedChangeRemove) {
        <button
            class="btn btn-sm btn-outline-primary d-block mt-2"
            (click)="applyForAll.emit()"
        >
            Diese Aktion für alle Objekte dieses Typs anwenden
        </button>
    }
</div>
