<div class="container">
    <a
        class="btn btn-outline-secondary btn-sm mb-4"
        [routerLink]="routerBackLink.link"
    >
        <i class="bi bi-arrow-left"></i
        ><span> Zurück zu {{ routerBackLink.title }}</span>
    </a>
    @if (selectedCollectionData(); as collectionData) {
        <div class="d-flex flex-row justify-content-between container w-100">
            <h2>{{ collectionData.collection.title }}</h2>

            <div class="d-flex flex-row gap-2 align-items-center">
                <button
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="duplicateCollection()"
                >
                    <i class="bi bi-copy"></i>
                </button>
                @if (checkRole(collectionData.ownRole).isAtMost('editor')) {
                    <button
                        type="button"
                        class="btn btn-outline-danger"
                        (click)="leaveCollection()"
                        ngbTooltip="Diese Sammlung verlassen"
                    >
                        <i class="bi bi-person-dash-fill"></i>
                    </button>
                }
            </div>
        </div>

        <div
            class="d-flex flex-row justify-content-between align-items-center container w-100 mb-3"
        >
            <div class="d-flex flex-column gap-1">
                <span class="text-muted">
                    Version {{ collectionData.collection.version }} &middot;
                    Erstellungsdatum:
                    {{ collectionData.collection.createdAt | date }} &middot;
                    {{ collectionData.objects.direct.length }}
                    Einträge
                </span>
                <span
                    class="text-muted d-flex flex-row gap-1 align-items-center"
                >
                    @if (collectionData.objects.transitive.length > 0) {
                        Verwendet Sammlungen:
                        @for (
                            dependency of collectionData.objects.transitive;
                            track dependency.collection.versionId
                        ) {
                            <span
                                class="badge bg-secondary"
                                style="cursor: pointer"
                            >
                                {{ dependency.collection.title }}
                            </span>
                        }
                    }
                </span>
            </div>
            <div class="d-flex flex-row gap-2 align-items-center"></div>
        </div>

        @if (collectionData.collection.archived) {
            <div
                class="alert alert-warning d-flex flex-row justify-content-between align-items-center gap-3"
                role="alert"
            >
                <span class="d-flex flex-row align-items-center gap-3">
                    <i class="bi bi-info-circle"></i>
                    <span>
                        Diese Sammlung ist archiviert und wird nicht mehr in
                        Übungsszenarien angezeigt. Einige Funktionen sind
                        eingeschränkt.<br />
                        Stellen Sie diese Sammlung wieder her, um sie in
                        Übungsszenarien verwenden zu können.
                    </span>
                </span>
                @if (checkRole(collectionData.ownRole).isAtLeast('editor')) {
                    <button
                        class="btn btn-warning"
                        (click)="unarchiveCollection()"
                    >
                        Sammlung wiederherstellen
                    </button>
                }
            </div>
        }
        @if (collectionData.collection.draftState) {
            <div
                class="alert alert-primary d-flex flex-row justify-content-between align-items-center gap-3"
                role="alert"
            >
                <span class="d-flex flex-row align-items-center gap-3">
                    <i class="bi bi-info-circle"></i>
                    <span>
                        Diese Sammlung enthält unveröffentlichte Änderungen.<br />
                        Veröffentlichen Sie diese Version, um die Änderungen in
                        Übungsszenarien verwenden zu können.
                    </span>
                </span>
                @if (checkRole(collectionData.ownRole).isAtLeast('editor')) {
                    <button
                        class="btn btn-primary btn-sm"
                        (click)="saveDraftState()"
                    >
                        Als neue Version speichern
                    </button>
                }
            </div>
        }
        <ul ngbNav #nav="ngbNav" class="nav-tabs" [animation]="false">
            <li [ngbNavItem]="1">
                <button ngbNavLink>Elemente</button>
                <ng-template ngbNavContent>
                    <app-collection-elements-tab
                        [collectionData]="collectionData"
                    />
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <button ngbNavLink>Verwendete Sammlungen</button>
                <ng-template ngbNavContent>
                    <app-used-collections-tab
                        [collectionData]="collectionData"
                    />
                </ng-template>
            </li>
            @if (checkRole(collectionData.ownRole).isAtLeast('admin')) {
                <li [ngbNavItem]="3">
                    <button ngbNavLink>Eigenschaften</button>
                    <ng-template ngbNavContent>
                        <app-collection-details-tab
                            [collection]="collectionData.collection"
                        />
                    </ng-template>
                </li>
            }
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    }
</div>
