<div class="d-flex justify-content-between align-items-center">
    @if (collectionData.isLoading()) {
        <div class="spinner-border"></div>
    }
    @if (collectionData.hasValue()) {
        <span>
            {{ collectionData.value().title }}
        </span>
        <div class="d-flex flex-row gap-1">
            @let newerVersion = newerVersionAvailable.value();
            @if (newerVersion; as version) {
                @if (version.newerVersionAvailable) {
                    <button
                        class="btn btn-outline-warning btn-sm"
                        (click)="
                            $event.stopPropagation();
                            upgradeCollectionVersion(collectionData.value())
                        "
                    >
                        <i class="bi bi-exclamation-triangle"></i>
                        Auf neuere Version aktualisieren
                    </button>
                }
            }
            <button
                class="btn btn-outline-danger btn-sm text-danger"
                (click)="
                    $event.stopPropagation();
                    removeCollection(collectionData.value())
                "
            >
                <i class="bi bi-trash"></i>
                Sammlung entfernen
            </button>
        </div>
    }
</div>
