<div
    class="my-3 placeholder-glow"
    [class.update-available]="
        newerVersionAvailable.hasValue() &&
        newerVersionAvailable.value().newerVersionAvailable
    "
>
    <!-- fyi: resource throws if value is read when error state -->
    @let collectionData =
        collectionDataRes.hasValue() ? collectionDataRes.value() : null;
    <span>
        <b
            class="collection-title"
            [class.placeholder]="collectionDataRes.isLoading()"
            >{{
                collectionData?.title ??
                    getCollectionVersionStructureCacheEntry(
                        collection().versionId
                    ).title
            }}</b
        >
        @if (collectionData) {
            <span class="text-muted small ms-1">
                (Version {{ collectionData.version }} &ndash;
                {{ collectionData.createdAt | date: 'short' }})
            </span>
        }
    </span>
    @let noAccess = collectionData === null;
    @if (noAccess) {
        <div class="text-danger small">
            Sie haben keinen Zugriff auf diese Sammlung: Die Sammlung ist
            möglicherweise nicht mehr vorhanden oder Sie haben keine
            Berechtigung, diese anzuzeigen.
        </div>
    }
    <div class="d-flex flex-row gap-2 mt-2">
        @if (!noAccess) {
            <a
                class="btn btn-primary btn-sm"
                (click)="closeActiveModal()"
                [routerLink]="'/collections/' + collection().entityId"
                [queryParams]="{ from: exerciseKey() }"
                [class.disabled]="collectionDataRes.isLoading()"
                [class.placeholder]="collectionDataRes.isLoading()"
            >
                Elemente verwalten
                <i class="bi bi-box-arrow-up-right ms-1"></i>
            </a>
        }
        @if (
            newerVersionAvailable.hasValue() &&
            newerVersionAvailable.value().newerVersionAvailable &&
            collectionData
        ) {
            <button
                class="btn btn-outline-changed btn-sm pulsating"
                style="--pulsating-color: #b508ff; --pulsating-strength: 1px"
                (click)="
                    $event.stopPropagation();
                    upgradeCollectionVersion(collectionData)
                "
            >
                <i class="bi bi-arrow-repeat me-1"></i>
                Auf neuere Version aktualisieren
            </button>
        }
        <button
            class="btn btn-outline-danger btn-sm text-danger"
            (click)="removeCollection()"
            [class.disabled]="collectionDataRes.isLoading()"
            [class.placeholder]="collectionDataRes.isLoading()"
        >
            <i class="bi bi-trash me-1"></i>
            Sammlung entfernen
        </button>
    </div>
</div>
