@if (errors && ngModelInput().dirty) {
    <div class="mt-2 text-danger validation-text">
        @if (errors['required']) {
            <div>{{ validationMessages.required }}</div>
        }
        @if (errors['minlength']; as minLengthError) {
            <div>
                Die Eingabe muss mindestens
                {{ minLengthError.requiredLength }} Zeichen lang sein. Es fehlen
                noch
                {{
                    minLengthError.requiredLength - minLengthError.actualLength
                }}
                Zeichen.
            </div>
        }
        @if (errors['maxlength']; as maxLengthError) {
            <div>
                Die Eingabe darf höchstens
                {{ maxLengthError.requiredLength }} Zeichen lang sein. Es sind
                {{
                    maxLengthError.actualLength - maxLengthError.requiredLength
                }}
                Zeichen zu viel.
            </div>
        }
        @if (errors['pattern']; as patternError) {
            <div>
                Die Eingabe entspricht nicht dem Muster:
                <span class="font-monospace">
                    {{ patternError.requiredPattern }} </span
                >.
            </div>
        }
        @if (errors['email']; as emailError) {
            <div>Die Eingabe ist keine valide E-Mail-Adresse.</div>
        }
        @if (errors['min']; as minError) {
            <div>Die Eingabe muss mindestens {{ minError.min }} sein.</div>
        }
        @if (errors['max']; as maxError) {
            <div>Die Eingabe darf höchstens {{ maxError.max }} sein.</div>
        }
        @if (errors['integer']; as maxError) {
            <div>Die Eingabe muss eine ganze Zahl sein.</div>
        }
        @if (errors['url']; as maxError) {
            <div>Die Eingabe ist keine valide URL.</div>
        }
        @if (errors['exactMatch']; as exactMatchError) {
            <div>
                Die Eingabe entspricht nicht
                <span class="font-monospace">{{
                    exactMatchError.stringToMatch
                }}</span
                >.
            </div>
        }
        @if (errors['exerciseDoesNotExist']; as exerciseExistsError) {
            <div>
                Es existiert keine Übung mit der Id
                <span class="font-monospace">{{ exerciseExistsError.id }}</span
                >.
            </div>
        }
        @if (errors['imageExists']; as imageExistsError) {
            <div>
                Kein Bild gefunden
                @if (imageExistsError.error) {
                    (<span class="font-monospace">{{
                        imageExistsError.error
                    }}</span
                    >)
                }
                .
            </div>
        }
        @if (errors['joinId']) {
            <div>
                Die Eingabe muss eine gültige Übungs-PIN (6 oder 8 Ziffern)
                sein.
            </div>
        }
    </div>
}
