<div class="modal-header">
    <h4 class="modal-title">
        Fahrzeugvorlage bearbeiten
        <app-help-button
            url="2_exercises/3_exercise_elements.html#fahrzeuge-mit-personal-und-material"
        />
    </h4>
    <button type="button" class="btn-close" (click)="close()"></button>
</div>
@if (vehicleTemplate) {
    <div class="modal-body">
        <app-vehicle-template-form
            [initialValues]="{
                name: vehicleTemplate.name,
                type: vehicleTemplate.vehicleType,
                url: vehicleTemplate.image.url,
                height: vehicleTemplate.image.height,
                patientCapacity: vehicleTemplate.patientCapacity,
                patientLoadMinutes: vehicleTemplate.patientLoadMinutes,
                materialTemplates: materialTemplates || [],
                personnelTemplates: personnelTemplates || [],
            }"
            (submitVehicleTemplate)="editVehicleTemplate($event)"
            [btnText]="'Speichern'"
        ></app-vehicle-template-form>

        <button
            class="btn btn-danger float-end"
            (click)="deleteVehicleTemplate()"
        >
            <i class="bi bi-trash-fill"></i>
            Löschen
        </button>
    </div>
}
