<app-header />
<main class="container">
    <div class="p-5 bg-light rounded-3">
        <h1>Seite nicht gefunden!</h1>
        <p class="lead">Fehler 404</p>
        <p>
            Die Seite konnte nicht gefunden werden. Bitte laden Sie die Seite
            erneut. Kontaktieren Sie den Support, falls dieses Problem bestehen
            bleibt. Sie können ihren Zurück-Knopf im Browser verwenden, um zur
            vorherigen Seite zurück zu navigieren oder drücken Sie den Knopf
            unter diesem Text, um zur Startseite zu gelangen.
        </p>

        <button class="btn btn-outline-primary" routerLink="/">
            <i class="bi bi-house me-2"></i>
            Startseite
        </button>
    </div>
</main>
<app-footer />
