<ng-container *ngIf="personnelTemplate$ | async as personnelTemplate">
    <div class="preview-image-container pb-0">
        <img [src]="personnelTemplate.image.url" />
    </div>
    <div class="card-body px-1 pb-0 pt-2">
        <h6
            class="text-truncate"
            [ngbTooltip]="personnelTypeNames[personnelTemplate.personnelType]"
            placement="bottom"
        >
            {{ personnelTypeNames[personnelTemplate.personnelType] }}
        </h6>
    </div>
</ng-container>
