<app-header />
<main class="container">
    <h1>
        Meine Übungsvorlagen
        <button
            class="btn btn-primary float-end"
            (click)="createExerciseTemplate()"
        >
            Neue Übungsvorlage erstellen
        </button>
    </h1>
    @if (exerciseTemplates.isLoading()) {
        <div class="row row-cols-3">
            @for (_ of [1, 2, 3]; track $index) {
                <div class="col">
                    <div class="card" aria-hidden="true">
                        <div class="card-body">
                            <h2 class="card-title h4 placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </h2>
                            <p class="card-text placeholder-glow">
                                <span class="placeholder col-4"></span>
                                <span class="placeholder col-4"></span>
                            </p>
                            <a
                                class="btn btn-primary disabled placeholder col-6"
                                aria-disabled="true"
                            ></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    @if (exerciseTemplates.hasValue()) {
        <div class="row row-cols-3">
            @for (
                exerciseTemplate of exerciseTemplates.value();
                track exerciseTemplate.trainerKey
            ) {
                <div class="col mb-4">
                    <app-exercise-template-card
                        [exerciseTemplate]="exerciseTemplate"
                        (updated)="exerciseTemplates.reload()"
                    />
                </div>
            } @empty {
                <div class="col flex-grow-1">
                    <p class="bg-light p-4 rounded-3 lead mb-0">
                        Sie haben noch keine Übungsvorlagen erstellt.
                    </p>
                </div>
            }
        </div>
    }
</main>
<app-footer />
