<app-header />
<main class="container">
    <div class="d-flex align-items-center">
        <h1>Meine Übungsvorlagen</h1>
        <div class="flex-grow-1"></div>
        <button class="btn btn-primary me-2" (click)="createExerciseTemplate()">
            Neue Übungsvorlage erstellen
        </button>
        <label
            class="btn btn-outline-primary"
            [class.disabled]="importingExercise()"
        >
            <i class="bi-cloud-upload me-2"> </i>
            Vorlage importieren
            @if (importingExercise()) {
                <span class="spinner-border spinner-border-sm"></span>
            }
            <input
                (appFileInput)="importExerciseTemplate($event)"
                type="file"
                accept="application/json"
                class="d-none"
                [disabled]="importingExercise()"
            />
        </label>
    </div>
    @if (exerciseTemplates.hasValue()) {
        <div class="row row-cols-3">
            @for (
                exerciseTemplate of exerciseTemplates.value();
                track exerciseTemplate.trainerKey
            ) {
                <div class="col mb-4">
                    <app-exercise-template-card
                        [exerciseTemplate]="exerciseTemplate"
                        (updated)="exerciseTemplates.reload()"
                    />
                </div>
            } @empty {
                <div class="col flex-grow-1">
                    <p class="bg-light p-4 rounded-3 lead mb-0">
                        Sie haben noch keine Übungsvorlagen erstellt.
                    </p>
                </div>
            }
        </div>
    } @else if (exerciseTemplates.isLoading()) {
        <div class="row row-cols-3">
            @for (_ of [1, 2, 3]; track $index) {
                <div class="col">
                    <div class="card" aria-hidden="true">
                        <div class="card-body">
                            <h2 class="card-title h4 placeholder-glow">
                                <span class="placeholder col-6"></span>
                            </h2>
                            <p class="card-text placeholder-glow">
                                <span class="placeholder col-4"></span>
                                <span class="placeholder col-4"></span>
                            </p>
                            <a
                                class="btn btn-primary disabled placeholder col-6"
                                aria-disabled="true"
                            ></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</main>
<app-footer />
